Repository poruru-code/esb: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, ty-check, go-fmt, tools-go-fmt, go-lint, tools-go-lint

lefthook.yml:

# lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # --- Python Lint & Format ---
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true

    # --- Ty Type Check ---
    ty-check:
      glob: "*.py"
      run: uv run ty check tools/ services/gateway/

    # --- Go Formatting ---
    go-fmt:
      root: services/agent
      glob: "**/*.go"
      run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

    # --- Go Formatting (tools-go) ---
    tools-go-fmt:
      root: tools-go
      glob: "**/*.go"
      run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

    # --- Go Linting ---
    go-lint:
      root: services/agent
      glob: "**/*.go"
      run: golangci-lint run ./...

    # --- Go Linting (tools-go) ---
    tools-go-lint:
      root: tools-go
      glob: "**/*.go"
      run: golangci-lint run ./...

Docs: GATEWAY_OWNER_IDの追加
  docs/environment-variables.md
Due: none

Gateway: multiValueHeaders優先の互換
  services/gateway/core/utils.py
  services/gateway/tests/test_utils.py
Due: ruff-check, ruff-format, ty-check

Gateway: API Gateway minimal methods + hide docs
  docs/spec.md
  services/gateway/api/deps.py
  services/gateway/main.py
  services/gateway/tests/test_integration_handler.py
Due: ruff-check, ruff-format, ty-check

Build: add BuildKit caches for apt/uv/go
  services/agent/Dockerfile.containerd
  services/agent/Dockerfile.docker
  services/common/Dockerfile.os-base
  services/common/Dockerfile.python-base
  services/gateway/Dockerfile.containerd
  services/gateway/Dockerfile.docker
  services/provisioner/Dockerfile
  services/runtime-node/Dockerfile.containerd
Due: none

Build: build context最小化とDockerfile整理 / minimize build contexts + Dockerfile cleanup
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc-node.yml
  docker-compose.fc.yml
  docs/plans/compose-build-traceability.md
  services/common/.dockerignore
  services/gateway/.dockerignore
  services/gateway/Dockerfile.containerd
  services/gateway/Dockerfile.docker
  services/provisioner/.dockerignore
  services/provisioner/Dockerfile
  services/runtime-node/Dockerfile.containerd
Due: none

Build: uv.lock固定利用 / use uv.lock for deterministic installs
  services/gateway/Dockerfile.containerd
  services/gateway/Dockerfile.docker
  services/provisioner/Dockerfile
  services/provisioner/uv.lock
Due: none

Build: bake並列化 / buildx bake for base+functions
  cli/internal/generator/bake.go
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_helpers.go
  cli/internal/generator/go_builder_test.go
  docs/plans/compose-build-traceability.md
  tools/traceability/docker-bake.hcl
Due: none

Generator: bake allow追加 / bake allow for secrets
  cli/internal/generator/bake.go
Due: none

Build: apt cache再利用 / reuse apt layers
  services/agent/Dockerfile.containerd
  services/gateway/Dockerfile.containerd
  services/gateway/Dockerfile.docker
  services/runtime-node/Dockerfile.containerd
Due: none

Build: provisioner cache再利用 / reuse provisioner layers
  services/provisioner/Dockerfile
Due: none

Generator: bakeローカルcacheを出力ベースに追従 / align bake local cache root with output base
  cli/internal/generator/bake.go
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_helpers.go
Due: none

fix(cli): optimize build cache sharing and concurrency
  bake.hcl
  cli/internal/generator/bake.go
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_helpers.go
  cli/internal/generator/go_builder_test.go
  cli/internal/generator/preview/main.go
Due: none

feat: Migrate metadata and base image builds to Docker Bake using service contexts.
  .mise.toml
  bake.hcl
  docker-compose.docker.yml
Due: none

feat: introduce `meta-builder` service and refactor base image and metadata contexts to use service-based references in `docker-compose.containerd.yml`, and update `docker-compose.yml` to include it.
  docker-compose.containerd.yml
  docker-compose.yml
Due: none

feat: Update build system to use native Docker Compose build caching and rename bake.hcl to docker-bake.hcl.
  cli/internal/generator/bake.go
  cli/internal/generator/go_builder_helpers.go
  cli/internal/generator/go_builder_test.go
  docker-bake.hcl
  docker-compose.containerd.yml
  docker-compose.docker.yml
Due: none

build: Update Docker build and compose configuration to use `docker.yml`, Buildx, and templated bake files.
  docker-bake.hcl
  docker-compose.yml
Due: none

ci: add Docker Buildx setup to image checks workflow.
  .github/workflows/image-checks.yml
Due: none

docs: clarify `applyBakeLocalCache`'s behavior regarding local cache settings and preservation of base configuration.
  cli/internal/generator/bake.go
Due: none

Refactor Docker build process to unify control-plane images under Docker Bake
  .mise.toml
  cli/docs/architecture.md
  cli/docs/build.md
  cli/internal/generator/bake.go
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_helpers.go
  cli/internal/generator/go_builder_test.go
  docker-bake.hcl
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc-node.yml
  docker-compose.fc.yml
  docs/container-management.md
  docs/docker-architecture.md
  docs/plans/build-bake-overhaul.md
  e2e/runner/executor.py
  e2e/runner/utils.py
Due: ruff-check, ruff-format, ty-check

Build: bake/compose整備とbuildx default化 / Align bake/compose and default buildx
  .mise.toml
  cli/internal/generator/go_builder_helpers.go
  docker-bake.hcl
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc-node.yml
  docker-compose.fc.yml
Due: none

Build: SERVICE_USER固定とmeta-image整理 / Fix service user + clean meta-image
  docker-bake.hcl
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc-node.yml
  docker-compose.fc.yml
  docs/plans/build-bake-overhaul.md
Due: none

E2E: 並列表示を再設計 / Redesign parallel display
  e2e/run_tests.py
  e2e/runner/executor.py
  pyproject.toml
  uv.lock
Due: ruff-check, ruff-format, ty-check

Compose: cache_to削除でdocker driver対応 / Remove cache_to for docker driver
  docker-compose.containerd.yml
  docker-compose.docker.yml
Due: none

Build: cache-toをdocker driverで抑制 / Disable cache-to on docker driver
  cli/internal/generator/bake.go
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_helpers.go
  cli/internal/generator/go_builder_test.go
  docker-bake.hcl
Due: none

Build: buildx builderをブランド名に合わせる / Brand buildx name
  cli/internal/constants/env.go
  cli/internal/generator/bake.go
  cli/internal/generator/go_builder_helpers.go
  cli/internal/generator/go_builder_test.go
  cli/internal/helpers/env_defaults.go
  docs/plans/registry-buildx-docker-container.md
Due: none

Build: registry常設とbuildx標準化 / Registry+buildx container
  cli/internal/constants/env.go
  cli/internal/generator/bake.go
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_helpers.go
  cli/internal/generator/go_builder_test.go
  cli/internal/helpers/env_defaults.go
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc-node.yml
  docker-compose.fc.yml
  docs/plans/registry-buildx-docker-container.md
  e2e/runner/constants.py
  e2e/runner/env.py
  e2e/runner/test_env.py
  services/agent/internal/config/constants.go
Due: ruff-check, ruff-format, ty-check, go-fmt, go-lint

feat: optimize build system, cache efficiency, and registry management
  cli/internal/compose/ports.go
  cli/internal/generator/assets/Dockerfile.lambda-base
  cli/internal/generator/bake.go
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_helpers.go
  cli/internal/generator/go_builder_test.go
  cli/internal/generator/templates/dockerfile.tmpl
  cli/internal/generator/testdata/renderer/dockerfile_simple.golden
  docker-bake.hcl
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc-node.yml
  docker-compose.fc.yml
  docs/environment-variables.md
  e2e/conftest.py
  e2e/environments/e2e-containerd/.env
  e2e/environments/e2e-docker/.env
  e2e/runner/cli.py
  e2e/runner/constants.py
  e2e/runner/env.py
  e2e/runner/executor.py
  e2e/runner/test_env.py
  e2e/runner/utils.py
  e2e/scenarios/standard/test_reconciliation.py
  services/agent/Dockerfile.containerd
  services/agent/Dockerfile.docker
  services/agent/entrypoint.sh
  services/agent/internal/runtime/containerd/image.go
  services/common/Dockerfile.os-base
  services/common/Dockerfile.python-base
  services/gateway/Dockerfile.containerd
  services/gateway/Dockerfile.docker
  services/gateway/entrypoint.sh
  services/provisioner/Dockerfile
  services/provisioner/entrypoint.sh
  services/runtime-node/Dockerfile.containerd
  services/runtime-node/entrypoint.sh
Due: ruff-check, ruff-format, ty-check, go-fmt, go-lint

Makefile: registry prefix for image checks
  Makefile
Due: none

E2E: deployテンプレ分割とE2E環境調整
  cli/internal/helpers/env_defaults.go
  docker-compose.infra.yml
  e2e/environments/test_matrix.yaml
  e2e/fixtures/template.part1.yaml
  e2e/fixtures/template.part2.yaml
  e2e/runner/config.py
  e2e/runner/env.py
  e2e/runner/infra.py
  e2e/runner/logging.py
  e2e/runner/runner.py
  e2e/runner/test_env.py
Due: ruff-check, ruff-format, ty-check

Generator: update renderer snapshots
  cli/internal/generator/renderer_test.go
  cli/internal/generator/testdata/renderer/functions_simple.golden
  cli/internal/generator/testdata/renderer/routing_simple.golden
Due: none

CLI/Agent: ENV_PREFIXテストとImagePullモック修正
  cli/internal/config/global_test.go
  cli/internal/config/repo_test.go
  services/agent/internal/runtime/docker/runtime_test.go
Due: go-fmt, go-lint

Docs: bootstrap guide offline/代理インストール
  docs/bootstrap-guide.md
Due: none

Buildx: builder統一とbuildkitd設定 / unify builder config
  .mise.toml
  cli/internal/constants/env.go
  cli/internal/generator/bake.go
  cli/internal/generator/go_builder.go
  cli/internal/helpers/env_defaults.go
  docs/environment-variables.md
  e2e/runner/buildx.py
  e2e/runner/constants.py
  e2e/runner/env.py
  e2e/runner/executor.py
  e2e/runner/runner.py
  tools/buildkit/setup_buildx.py
Due: ruff-check, ruff-format, ty-check

feat: add ansible bootstrap playbook and guide for WSL/Hyper-V
  bootstrap/inventory
  bootstrap/playbook.yml
  bootstrap/roles/common/tasks/main.yml
  bootstrap/roles/common/templates/01proxy.j2
  bootstrap/roles/docker/handlers/main.yml
  bootstrap/roles/docker/tasks/main.yml
  bootstrap/roles/docker/templates/http-proxy.conf.j2
  bootstrap/vars.yml
  docs/bootstrap-guide.md
Due: none

Bootstrap: Docker GPG key proxy env
  bootstrap/roles/docker/tasks/main.yml
Due: none

Buildx: プロキシ注入を修正 (Fix buildx proxy)
  cli/internal/generator/bake.go
  docs/environment-variables.md
  tools/buildkit/setup_buildx.py
Due: ruff-check, ruff-format, ty-check

Buildx: driver-opt の no_proxy 逓減
  cli/internal/generator/bake.go
  tools/buildkit/setup_buildx.py
Due: ruff-check, ruff-format, ty-check
