Repository poruru-code/esb: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, ty-check, go-fmt, tools-go-fmt, go-lint, tools-go-lint

lefthook.yml:

# lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # --- Python Lint & Format ---
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true

    # --- Ty Type Check ---
    ty-check:
      glob: "*.py"
      run: uv run ty check tools/ services/gateway/

    # --- Go Formatting ---
    go-fmt:
      root: services/agent
      glob: "**/*.go"
      run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

    # --- Go Formatting (tools-go) ---
    tools-go-fmt:
      root: tools-go
      glob: "**/*.go"
      run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

    # --- Go Linting ---
    go-lint:
      root: services/agent
      glob: "**/*.go"
      run: golangci-lint run ./...

    # --- Go Linting (tools-go) ---
    tools-go-lint:
      root: tools-go
      glob: "**/*.go"
      run: golangci-lint run ./...

docs: refresh contract plans and boundary references
  .agent/execplan-artifact-contract-realignment-master.md
  .agent/execplan-artifactcore-api-surface-reduction.md
  .agent/execplan-contract-boundary-deep-audit-master.md
  .agent/milestone1-boundary-deep-audit.md
  .agent/milestone1-contract-target-definition.md
  .agent/milestone2-boundary-remediation.md
  .agent/milestone2-runtime-compat-validator.md
  .agent/milestone3-artifactctl-preflight-rewire.md
  .agent/milestone3-final-verification.md
  .agent/milestone4-cli-producer-contract-alignment.md
  .agent/milestone5-e2e-contract-refresh.md
  .agent/milestone6-cleanup-and-final-verification.md
  docs/artifact-operations.md
  docs/deploy-artifact-contract.md
Due: none

refactor: shrink artifactcore API surface
  cli/go.mod
  cli/internal/command/artifact.go
  cli/internal/command/deploy_artifact_manifest.go
  cli/internal/usecase/deploy/runtime_observation.go
  go.work
  pkg/artifactcore/errors.go
  pkg/artifactcore/hash.go
  pkg/artifactcore/runtime_observation_image.go
  pkg/artifactcore/runtime_observation_image_test.go
  pkg/deployops/execute.go
  pkg/deployops/execute_test.go
  pkg/deployops/go.mod
  pkg/deployops/go.sum
  pkg/deployops/prepare_images.go
  pkg/deployops/prepare_images_test.go
  pkg/deployops/runtime_probe.go
  pkg/deployops/runtime_probe_test.go
  pkg/runtimeimage/go.mod
  pkg/runtimeimage/observation.go
  pkg/runtimeimage/observation_test.go
  tools/artifactctl/cmd/artifactctl/main.go
  tools/artifactctl/cmd/artifactctl/main_test.go
  tools/artifactctl/go.mod
  tools/ci/artifactcore_exports_allowlist.txt
Due: none

chore(agent): remove completed execution plan documents
  .agent/execplan-artifactcore-api-surface-reduction.md
  .agent/execplan-contract-boundary-deep-audit-master.md
  .agent/milestone1-boundary-deep-audit.md
  .agent/milestone2-boundary-remediation.md
  .agent/milestone3-final-verification.md
Due: none

fix: enforce no-deps build flow and boundary guard
  cli/internal/infra/deploy/compose_provisioner_composefiles_test.go
  pkg/composeprovision/composeprovision.go
  pkg/composeprovision/composeprovision_test.go
  tools/ci/check_tooling_boundaries.sh
Due: none

chore(tooling): align CI/dev workflows for cli-optional workspace
  .github/pull_request_template.md
  .github/workflows/quality-gates.yml
  .mise.toml
  docs/repo-layout-contract.md
  e2e/artifacts/README.md
  e2e/scripts/regenerate_artifacts.sh
  lefthook.yml
  services/agent/docs/proto-generation.md
  services/contracts/README.md
  tools/ci/check_repo_layout.sh
  tools/ci/check_tooling_boundaries.sh
  tools/dind-bundler/build.sh
Due: none

test(e2e): regenerate artifacts after main merge
  e2e/artifacts/e2e-containerd/artifact.yml
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-chaos/sitecustomize.py
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-connectivity/sitecustomize.py
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-dynamo/sitecustomize.py
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-echo/sitecustomize.py
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-integration/sitecustomize.py
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-s3/sitecustomize.py
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-s3/src/lambda_function.py
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-scaling/sitecustomize.py
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-scheduled/sitecustomize.py
  e2e/artifacts/e2e-docker/artifact.yml
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-chaos/sitecustomize.py
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-connectivity/sitecustomize.py
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-dynamo/sitecustomize.py
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-echo/sitecustomize.py
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-image/sitecustomize.py
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-integration/sitecustomize.py
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-s3/sitecustomize.py
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-s3/src/lambda_function.py
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-scaling/sitecustomize.py
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-scheduled/sitecustomize.py
Due: ruff-check, ruff-format, ty-check

fix(deployops): stop auto-enabling base bootstrap for default runner
  pkg/deployops/prepare_images.go
  pkg/deployops/prepare_images_test.go
Due: none

chore: complete separation milestones 1-2 baseline
  .agent/execplan-cli-separation-master-20260220.md
  .agent/milestone1-guard-hardening.md
  .agent/milestone2-pkg-versionability.md
  .agent/milestone3-adapter-version-normalization.md
  .agent/milestone4-cli-absent-ci-rehearsal.md
  .agent/milestone5-extraction-readiness-signoff.md
  .github/workflows/quality-gates.yml
  pkg/artifactcore/go.mod
  pkg/deployops/go.mod
  tools/ci/adapter_pkg_v0_allowlist.txt
  tools/ci/check_tooling_boundaries.sh
Due: none

feat: complete cli separation milestones 3-5
  .agent/execplan-cli-separation-master-20260220.md
  .agent/milestone3-adapter-version-normalization.md
  .agent/milestone4-cli-absent-ci-rehearsal.md
  .agent/milestone5-extraction-readiness-signoff.md
  .github/workflows/quality-gates.yml
  cli/go.mod
  cli/go.sum
  docs/README.md
  docs/cli-separation-checklist.md
  tools/artifactctl/go.mod
  tools/artifactctl/go.sum
  tools/ci/adapter_pkg_v0_allowlist.txt
  tools/ci/check_repo_layout.sh
Due: none

fix(ci): catch versioned pkg replace directives in adapters
  tools/ci/check_tooling_boundaries.sh
Due: none

docs(plan): add cli extraction execution milestones
  .agent/execplan-cli-extraction-execution.md
  .agent/milestone1-cli-extraction-seed.md
  .agent/milestone2-cli-standalone-hardening.md
  .agent/milestone3-esb-cli-removal-and-contract-update.md
  .agent/milestone4-final-verification-no-cli.md
Due: none

fix(ci): resolve proto-contract and no-cli quality gates
  .github/workflows/quality-gates.yml
  tools/ci/check_repo_layout.sh
Due: none

chore(proto): refresh generated stubs
  services/agent/pkg/api/v1/agent.pb.go
  services/agent/pkg/api/v1/agent_grpc.pb.go
  services/gateway/pb/agent_pb2.py
  services/gateway/pb/agent_pb2_grpc.py
Due: ruff-check, ruff-format, ty-check, go-fmt, go-lint

fix(ci): restore cli layout scan and ignore generated pb import order
  pyproject.toml
  tools/ci/check_repo_layout.sh
Due: none

docs: remove producer-cli operation guidance from core repo
  .mise.toml
  README.md
  docs/README.md
  docs/architecture-containerd.md
  docs/artifact-operations.md
  docs/branding-generator.md
  docs/container-runtime-operations.md
  docs/deploy-artifact-contract.md
  docs/docker-image-architecture.md
  docs/e2e-runtime-smoke.md
  docs/environment-variables.md
  docs/repo-layout-contract.md
  docs/runtime-identity-contract.md
  docs/spec.md
  e2e/artifacts/README.md
  e2e/runner/README.md
  e2e/scripts/regenerate_artifacts.sh
  services/agent/docs/configuration.md
  services/agent/docs/runtime-containerd.md
  services/provisioner/docs/README.md
  services/provisioner/docs/architecture.md
  services/provisioner/docs/resources-manifest.md
  tools/bootstrap/wireguard/README.md
  tools/dind-bundler/README.md
Due: none

fix(ci): assert cli tree is absent in no-cli gate
  .github/workflows/quality-gates.yml
Due: none

chore(agent): remove completed cli-separation plans
  .agent/execplan-cli-extraction-execution.md
  .agent/execplan-cli-separation-master-20260220.md
  .agent/milestone1-cli-extraction-seed.md
  .agent/milestone1-guard-hardening.md
  .agent/milestone2-cli-standalone-hardening.md
  .agent/milestone2-pkg-versionability.md
  .agent/milestone3-adapter-version-normalization.md
  .agent/milestone3-esb-cli-removal-and-contract-update.md
  .agent/milestone4-cli-absent-ci-rehearsal.md
  .agent/milestone4-final-verification-no-cli.md
  .agent/milestone5-extraction-readiness-signoff.md
Due: none

fix(e2e): prefer local artifactctl and ensure base image prep
  e2e/run_tests.py
  e2e/runner/tests/test_run_tests_cli_requirement.py
  pkg/deployops/execute.go
Due: ruff-check, ruff-format, ty-check

chore(e2e): drop producer banner comments from artifact Dockerfiles
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-chaos/Dockerfile
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-connectivity-java/Dockerfile
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-connectivity/Dockerfile
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-dynamo/Dockerfile
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-echo-java/Dockerfile
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-echo/Dockerfile
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-image/Dockerfile
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-integration/Dockerfile
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-s3/Dockerfile
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-scaling/Dockerfile
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-scheduled/Dockerfile
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-chaos/Dockerfile
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-connectivity-java/Dockerfile
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-connectivity/Dockerfile
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-dynamo/Dockerfile
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-echo-java/Dockerfile
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-echo/Dockerfile
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-image/Dockerfile
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-integration/Dockerfile
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-s3/Dockerfile
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-scaling/Dockerfile
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-scheduled/Dockerfile
Due: none

fix(agent): unify CNI network identity for shared bridge
  services/agent/internal/identity/stack_identity.go
  services/agent/internal/identity/stack_identity_test.go
  services/agent/internal/runtime/containerd/runtime.go
  services/agent/internal/runtime/containerd/runtime_test.go
Due: go-fmt, go-lint

fix(agent): shell-escape cni identity file values
  services/agent/internal/cni/generator.go
  services/agent/internal/cni/generator_test.go
Due: go-fmt, go-lint

fix: handle quoted CNI identity in smoke and fail fast on unresolved gateway URL
  e2e/scenarios/smoke/test_containerd_network_identity.py
  services/gateway/entrypoint.sh
Due: ruff-check, ruff-format, ty-check

fix(e2e): rename matrix env key and regenerate artifacts
  e2e/artifacts/e2e-containerd/artifact.yml
  e2e/artifacts/e2e-docker/artifact.yml
  e2e/environments/test_matrix.yaml
  e2e/run_tests.py
  e2e/runner/config.py
  e2e/runner/planner.py
  e2e/runner/tests/test_config.py
  e2e/scripts/regenerate_artifacts.sh
Due: ruff-check, ruff-format, ty-check

fix(ci): compare proto breaking check against PR base branch
  .github/workflows/quality-gates.yml
Due: none

refactor(dind-bundler): make bundling artifact-only and self-contained
  tools/dind-bundler/Dockerfile
  tools/dind-bundler/README.md
  tools/dind-bundler/build.sh
  tools/dind-bundler/entrypoint.sh
  tools/dind-bundler/merge_manifest.py
Due: ruff-check, ruff-format, ty-check

fix(dind-bundler): address review gaps and add dind e2e-equivalent runner
  tools/dind-bundler/README.md
  tools/dind-bundler/build.sh
  tools/dind-bundler/dind-e2e-equivalent/README.md
  tools/dind-bundler/dind-e2e-equivalent/run_dind_e2e_equivalent_pytest.sh
  tools/dind-bundler/entrypoint.sh
Due: none

chore: reorganize monitoring compose and env files
  .gitignore
  docker-compose.containerd.ops.yml
  docker-compose.docker.ops.yml
  docker-compose.yml
  tools/monitoring/.env
  tools/monitoring/README.md
  tools/monitoring/docker-monitoring.containerd.yml
  tools/monitoring/docker-monitoring.docker.yml
  tools/monitoring/docker-monitoring.services.yml
  tools/monitoring/grafana/dashboards/monitoring.json
  tools/monitoring/grafana/provisioning/dashboards/dashboards.yml
  tools/monitoring/grafana/provisioning/datasources/prometheus.yml
  tools/monitoring/prometheus/prometheus.yml
Due: none

fix: use containerd stack for monitoring compose
  tools/monitoring/README.md
  tools/monitoring/docker-monitoring.containerd.yml
Due: none

refactor: remove unused package marker __init__.py files
  e2e/__init__.py
  e2e/runner/__init__.py
  services/__init__.py
  services/common/__init__.py
  services/common/core/__init__.py
  services/common/core/tests/__init__.py
  services/common/tests/__init__.py
  services/gateway/__init__.py
  services/gateway/api/__init__.py
  services/gateway/pb/__init__.py
  services/gateway/services/__init__.py
  services/gateway/tests/__init__.py
  tools/__init__.py
  tools/e2e_proxy/__init__.py
Due: ruff-check, ruff-format, ty-check

refactor: move e2e lambda image fixtures under e2e/fixtures
  docs/artifact-operations.md
  e2e/fixtures/images/lambda/java/.gitignore
  e2e/fixtures/images/lambda/java/Dockerfile
  e2e/fixtures/images/lambda/java/README.md
  e2e/fixtures/images/lambda/java/pom.xml
  e2e/fixtures/images/lambda/java/src/main/java/com/fixtures/imageminimal/Handler.java
  e2e/fixtures/images/lambda/python/Dockerfile
  e2e/fixtures/images/lambda/python/README.md
  e2e/fixtures/images/lambda/python/lambda_function.py
  e2e/runner/deploy.py
  tools/dind-bundler/build.sh
Due: ruff-check, ruff-format, ty-check

fix: restore required __init__.py for tests and gateway services
  services/common/core/tests/__init__.py
  services/common/tests/__init__.py
  services/gateway/__init__.py
  services/gateway/services/__init__.py
  services/gateway/tests/__init__.py
Due: ruff-check, ruff-format, ty-check

test: add guards for package markers and gateway service exports
  e2e/runner/tests/test_test_collection_contract.py
  services/gateway/tests/test_package_exports.py
Due: ruff-check, ruff-format, ty-check

e2e: remove image_uri_overrides and infer fixture images from artifacts
  docs/artifact-operations.md
  e2e/environments/test_matrix.yaml
  e2e/fixtures/images/lambda/java/README.md
  e2e/fixtures/images/lambda/python/README.md
  e2e/fixtures/template.e2e.yaml
  e2e/runner/config.py
  e2e/runner/deploy.py
  e2e/runner/tests/test_config.py
  e2e/runner/tests/test_deploy_command.py
Due: ruff-check, ruff-format, ty-check

docs(cert): add certificate rotation runbook and mise tasks
  .mise.toml
  README.md
  docs/README.md
  docs/certificate-operations.md
  tools/cert-gen/generate.py
Due: ruff-check, ruff-format, ty-check

fix(cert): align rotation tasks with cert-gen output path
  .mise.toml
  tools/cert-gen/generate.py
Due: ruff-check, ruff-format, ty-check

artifact: remove entry id and make source_template optional
  .agent/execplan-artifact-manifest-slimming.md
  docs/artifact-operations.md
  docs/deploy-artifact-contract.md
  e2e/artifacts/e2e-containerd/artifact.yml
  e2e/artifacts/e2e-docker/artifact.yml
  e2e/runner/tests/test_deploy_command.py
  pkg/artifactcore/execute_test.go
  pkg/artifactcore/fixture_manifest_test.go
  pkg/artifactcore/manifest.go
  pkg/artifactcore/manifest_test.go
  pkg/artifactcore/merge_test.go
  pkg/deployops/prepare_images_test.go
  tools/artifactctl/cmd/artifactctl/main.go
  tools/artifactctl/cmd/artifactctl/main_test.go
  tools/ci/artifactcore_exports_allowlist.txt
Due: ruff-check, ruff-format, ty-check
