Repository poruru-code/esb: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, ty-check, go-fmt, tools-go-fmt, go-lint, tools-go-lint

lefthook.yml:

# lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # --- Python Lint & Format ---
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true

    # --- Ty Type Check ---
    ty-check:
      glob: "*.py"
      run: uv run ty check tools/ services/gateway/

    # --- Go Formatting ---
    go-fmt:
      root: services/agent
      glob: "**/*.go"
      run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

    # --- Go Formatting (tools-go) ---
    tools-go-fmt:
      root: tools-go
      glob: "**/*.go"
      run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

    # --- Go Linting ---
    go-lint:
      root: services/agent
      glob: "**/*.go"
      run: golangci-lint run ./...

    # --- Go Linting (tools-go) ---
    tools-go-lint:
      root: tools-go
      glob: "**/*.go"
      run: golangci-lint run ./...

refactor: remove COMPONENT from design, metadata, and entrypoints
  cli/internal/generator/assets/Dockerfile.lambda-base
  cli/internal/generator/templates/dockerfile.tmpl
  cli/internal/generator/testdata/renderer/dockerfile_simple.golden
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc.yml
  docs/plans/compose-build-traceability.md
  docs/plans/runtime-image-architecture.md
  services/agent/Dockerfile.containerd
  services/agent/Dockerfile.docker
  services/agent/entrypoint.sh
  services/common/Dockerfile.os-base
  services/common/Dockerfile.python-base
  services/gateway/Dockerfile.containerd
  services/gateway/Dockerfile.docker
  services/gateway/entrypoint.sh
  services/provisioner/Dockerfile.containerd
  services/provisioner/Dockerfile.docker
  services/provisioner/entrypoint.sh
  services/runtime-node/Dockerfile.containerd
  services/runtime-node/entrypoint.sh
  tools/traceability/generate_version_json.py
Due: ruff-check, ruff-format, ty-check

fix(build): resolve E2E configuration and optimize build performance
  cli/internal/generator/assets/Dockerfile.lambda-base
  cli/internal/generator/templates/dockerfile.tmpl
  cli/internal/generator/testdata/renderer/dockerfile_simple.golden
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc-node.yml
  docker-compose.fc.yml
  services/agent/Dockerfile.containerd
  services/agent/Dockerfile.dev
  services/agent/Dockerfile.docker
  services/agent/entrypoint.sh
  services/common/Dockerfile.os-base
  services/common/Dockerfile.python-base
  services/gateway/Dockerfile.containerd
  services/gateway/Dockerfile.docker
  services/provisioner/Dockerfile
  services/provisioner/Dockerfile.containerd
  services/provisioner/entrypoint.sh
  services/runtime-node/Dockerfile.containerd
Due: none

style: unify compose formatting and fix duplicates to match templates
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc.yml
Due: none

feat: refactor image naming convention (move runtime mode from tag to repository name)
  Makefile
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc-node.yml
  docker-compose.fc.yml
Due: none

Build: functions.ymlからimageを廃止 / Remove image from functions.yml
  cli/internal/generator/renderer.go
  cli/internal/generator/renderer_test.go
  cli/internal/generator/templates/functions.yml.tmpl
  cli/internal/generator/testdata/renderer/functions_simple.golden
  docs/plans/runtime-image-architecture.md
  services/gateway/clients.py
  services/gateway/models/function.py
  services/gateway/services/function_registry.py
  services/gateway/services/grpc_backend.py
  services/gateway/services/grpc_provision.py
  services/gateway/services/route_matcher.py
  services/gateway/tests/test_cb_logical_error.py
  services/gateway/tests/test_error_logging.py
  services/gateway/tests/test_function_registry.py
  services/gateway/tests/test_grpc_provision.py
  services/gateway/tests/test_integration_handler.py
  services/gateway/tests/test_lambda_invoker_di.py
  services/gateway/tests/test_lambda_invoker_pool.py
  services/gateway/tests/test_lambda_invoker_strategy.py
  services/gateway/tests/test_pool_manager.py
  services/gateway/tests/test_pool_manager_autoscaling.py
  services/gateway/tests/test_route_matcher.py
  services/gateway/tests/unit/test_lambda_invoker_isolation.py
Due: ruff-check, ruff-format, ty-check

Gateway: adjust tests for image-less functions
  services/gateway/tests/test_lambda_invoker_strategy.py
  services/gateway/tests/unit/test_lambda_invoker_isolation.py
Due: ruff-check, ruff-format, ty-check

E2E: split build/test phases
  e2e/run_tests.py
  e2e/runner/cli.py
  e2e/runner/executor.py
Due: ruff-check, ruff-format, ty-check

E2E: build計測とイメージ一覧出力
  docs/plans/build-speedup-bake.md
  e2e/runner/executor.py
Due: ruff-check, ruff-format, ty-check

Docs: record baseline E2E build timing
  docs/plans/build-speedup-bake.md
Due: none

Build: meta Bake化とimage_runtime削除 / Bake meta & drop image_runtime
  cli/internal/generator/assets/Dockerfile.lambda-base
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_helpers.go
  cli/internal/generator/go_builder_test.go
  cli/internal/generator/templates/dockerfile.tmpl
  cli/internal/generator/testdata/renderer/dockerfile_simple.golden
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc-node.yml
  docker-compose.fc.yml
  docs/plans/build-speedup-bake.md
  docs/plans/compose-build-traceability.md
  docs/plans/runtime-image-architecture.md
  services/agent/Dockerfile.containerd
  services/agent/Dockerfile.docker
  services/common/Dockerfile.os-base
  services/common/Dockerfile.python-base
  services/gateway/Dockerfile.containerd
  services/gateway/Dockerfile.docker
  services/provisioner/Dockerfile
  services/runtime-node/Dockerfile.containerd
  tools/traceability/Dockerfile.meta
  tools/traceability/docker-bake.hcl
  tools/traceability/generate_version_json.py
Due: ruff-check, ruff-format, ty-check

Build: bake meta export修正 / Fix meta export output
  tools/traceability/Dockerfile.meta
  tools/traceability/docker-bake.hcl
Due: none

Build: compose meta重複修正 / Fix duplicate meta context
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc-node.yml
  docker-compose.fc.yml
Due: none

Build: agent meta_module追加 / Add agent meta_module context
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc-node.yml
  docker-compose.fc.yml
  services/agent/Dockerfile.containerd
  services/agent/Dockerfile.docker
Due: none

Build: meta reuseとcompose環境変数 / Meta reuse & compose envs
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_helpers.go
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc-node.yml
  docker-compose.fc.yml
  docs/plans/build-speedup-bake.md
  docs/plans/compose-build-traceability.md
  e2e/runner/executor.py
Due: ruff-check, ruff-format, ty-check

Compose: branding出力更新 / Regen compose outputs
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc-node.yml
  docker-compose.fc.yml
Due: none

E2E: build後にイメージ一覧 / Print images after build
  e2e/runner/executor.py
Due: ruff-check, ruff-format, ty-check

E2E: built images整列表示 / Align built image output
  e2e/runner/executor.py
Due: ruff-check, ruff-format, ty-check

E2E: build進捗行を表示 / Print build progress lines
  e2e/runner/executor.py
Due: ruff-check, ruff-format, ty-check

Build: 関数イメージ進捗表示 / Print per-function build
  cli/internal/generator/go_builder_helpers.go
Due: none

E2E: 空行抑制 / Suppress blank lines
  e2e/runner/executor.py
Due: ruff-check, ruff-format, ty-check

E2E: ログ整形とイメージ一覧調整 / E2E: refine logs & image list
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_helpers.go
  cli/internal/ui/console.go
  e2e/runner/executor.py
Due: ruff-check, ruff-format, ty-check

E2E: reset時にイメージ削除 / E2E: remove images on reset
  e2e/runner/executor.py
Due: ruff-check, ruff-format, ty-check

CLI: compose build streaming / CLI: control build stream
  cli/internal/compose/build.go
  cli/internal/compose/build_test.go
  cli/internal/compose/fake_runner_test.go
  cli/internal/generator/go_builder.go
Due: none

E2E: ビルドphaseの並列化 / E2E: parallel build phase
  e2e/run_tests.py
  e2e/runner/executor.py
Due: ruff-check, ruff-format, ty-check

E2E: 所要時間の表示整理 / E2E: timing header
  cli/go.mod
  e2e/runner/executor.py
Due: ruff-check, ruff-format, ty-check

Setup: meta生成タスク追加 / Setup: add meta task
  .mise.toml
Due: none

Git: meta/version.jsonを共通除外 / Git: ignore meta version
  .gitignore
Due: none

CI: image-checksでmeta生成 / CI: prep meta
  .github/workflows/image-checks.yml
  cli/internal/generator/go_builder_test.go
Due: none

CLI: ブランド名をhelpに反映 / CLI: brand-aware help
  cli/internal/commands/app.go
  cli/internal/commands/branding.go
  cli/internal/commands/completion.go
Due: none

CLI: ブランド名のUT追加 / CLI: brand UT
  cli/internal/commands/branding_test.go
Due: none

CLI: build入力の既定保存 / CLI: persist build defaults
  cli/internal/commands/build.go
  cli/internal/commands/build_defaults.go
  cli/internal/commands/build_test.go
  cli/internal/config/global.go
  cli/internal/config/global_test.go
Due: none

CLI: build defaults保存抑止 / CLI: skip default save
  cli/internal/commands/app.go
  cli/internal/commands/build.go
  e2e/runner/executor.py
Due: ruff-check, ruff-format, ty-check

CLI: build defaults UT追加 / CLI: defaults UT
  cli/internal/commands/build_test.go
Due: none

Provisioner: rustfsでlifecycleを抑止 / Provisioner: skip lifecycle
  services/provisioner/src/main.py
Due: ruff-check, ruff-format, ty-check

CLI: DinD bundler manifest / DinDバンドラーのマニフェスト化
  .gitignore
  cli/internal/commands/app.go
  cli/internal/commands/build.go
  cli/internal/commands/build_test.go
  cli/internal/generator/build_request.go
  cli/internal/generator/bundle_manifest.go
  cli/internal/generator/bundle_manifest_test.go
  cli/internal/generator/go_builder.go
  cli/internal/workflows/build.go
  docs/plans/dind-bundler-manifest-spec.md
  docs/plans/dind-bundler-manifest.schema.json
  tools/dind-bundler/Dockerfile
  tools/dind-bundler/README.md
  tools/dind-bundler/build.sh
  tools/dind-bundler/entrypoint.sh
  tools/tests/test_dind_bundler_branding.py
Due: ruff-check, ruff-format, ty-check

Tools: DinDバンドラー起動安定化 / Tools: DinD bundler startup readiness
  tools/dind-bundler/Dockerfile
  tools/dind-bundler/build.sh
  tools/dind-bundler/entrypoint.sh
Due: none

CLI: テンプレート~展開 / CLI: Expand ~ in template path
  cli/internal/commands/build.go
  cli/internal/commands/build_test.go
  cli/internal/generator/generate.go
  cli/internal/generator/generate_test.go
Due: none

Docs: README オンプレミス表記 / On-prem wording
  README.md
Due: none

Certs: step移行と証明書設定整理 / step cert config
  .mise.toml
  CONTRIBUTING.md
  README.md
  tools/cert-gen/config.toml
  tools/cert-gen/generate.py
  tools/tests/test_cert_gen.py
Due: ruff-check, ruff-format, ty-check

Gateway/Agent: owner_id対応とUTC化 / owner_id ownership + UTC scheduler
  proto/agent.proto
  services/agent/internal/api/server.go
  services/agent/internal/api/server_test.go
  services/agent/internal/runtime/constants.go
  services/agent/internal/runtime/containerd/container_test.go
  services/agent/internal/runtime/containerd/runtime.go
  services/agent/internal/runtime/docker/runtime.go
  services/agent/internal/runtime/docker/runtime_test.go
  services/agent/internal/runtime/interface.go
  services/agent/pkg/api/v1/agent.pb.go
  services/gateway/config.py
  services/gateway/main.py
  services/gateway/pb/agent_pb2.py
  services/gateway/services/agent_invoke.py
  services/gateway/services/grpc_backend.py
  services/gateway/services/grpc_provision.py
  services/gateway/services/scheduler.py
  services/gateway/tests/test_grpc_backend.py
  services/gateway/tests/test_grpc_backend_concurrency.py
  services/gateway/tests/test_grpc_provision.py
Due: ruff-check, ruff-format, ty-check, go-fmt, go-lint
