Repository poruru-code/esb: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, ty-check, go-fmt, tools-go-fmt, go-lint, tools-go-lint

ruff-check:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uv run ruff format {staged_files}
  stage_fixed: true

ty-check:
  run: uv run ty check tools/ services/gateway/

go-fmt:
  run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

tools-go-fmt:
  run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

go-lint:
  run: golangci-lint run ./...

tools-go-lint:
  run: golangci-lint run ./...

refactor: fix branding build failures and align e2e runner with branded paths
  cli/internal/app/build.go
  cli/internal/app/env_defaults.go
  cli/internal/app/init.go
  cli/internal/app/ports.go
  cli/internal/app/up.go
  cli/internal/constants/env.go
  cli/internal/generator/generate.go
  cli/internal/generator/go_builder.go
  cli/internal/manifest/resources.go
  cli/internal/state/context.go
  docker-compose.yml
  e2e/runner/executor.py
  e2e/runner/utils.py
  tools/cert-gen/generate.py
Due: ruff-check, ruff-format, ty-check

fix: remove hardcoded output_dir from cert-gen to support dynamic branding
  tools/cert-gen/config.toml
Due: none

refactor: improve branding flexibility and shorten container IDs
  cli/internal/app/auth.go
  cli/internal/generator/build_fingerprint.go
  cli/internal/generator/go_builder_helpers.go
  cli/internal/generator/renderer.go
  cli/internal/generator/renderer_test.go
  config/defaults.env
  config/lifecycle.yml
  docker-compose.containerd.yml
  e2e/run_tests.py
  e2e/runner/config.py
  e2e/runner/executor.py
  e2e/test_matrix.yaml
  meta/meta.go
  services/agent/internal/runtime/containerd/container_test.go
  services/agent/internal/runtime/containerd/runtime.go
  services/agent/internal/runtime/docker/runtime.go
  services/gateway/Dockerfile.firecracker
Due: ruff-check, ruff-format, ty-check, go-fmt, go-lint

fix(ci): use CERT_DIR instead of ESB_CERT_DIR in image-checks workflow
  .github/workflows/image-checks.yml
Due: none

fix(ci): align image names and environments for branding support
  .github/workflows/image-checks.yml
  Makefile
  config/container-structure-test/agent.yaml
Due: none

fix(cli): implement dynamic port allocation & DI refactor
  cli/cmd/esb/cli.go
  cli/internal/app/env_defaults.go
  cli/internal/app/env_defaults_test.go
  cli/internal/app/ports.go
  cli/internal/compose/ports.go
  cli/internal/compose/ports_test.go
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_test.go
Due: none

fix: resolve dynamic port allocation failure in containerd mode
  cli/internal/compose/ports.go
  cli/internal/compose/ports_test.go
  cli/internal/generator/go_builder.go
Due: none

fix(cli): default IMAGE_PREFIX to ComposeProject when unset
  cli/internal/app/env_defaults.go
  cli/internal/app/env_defaults_test.go
Due: none

fix: use hardcoded esb prefix for shared base images
  docker-compose.containerd.yml
  docker-compose.worker.yml
  docker-compose.yml
  services/agent/Dockerfile
  services/gateway/Dockerfile
  services/gateway/Dockerfile.firecracker
  services/runtime-node/Dockerfile
  services/runtime-node/Dockerfile.firecracker
Due: none

fix(e2e): add scaling config and resolve lint errors
  docs/plans/gateway_refactoring_implementation_plan.md
  docs/reports/gateway_refactoring_critique.md
  docs/reports/gateway_refactoring_meta_review.md
  docs/reports/gateway_refactoring_report.md
  e2e/fixtures/template.yaml
  services/__init__.py
  services/gateway/api/deps.py
  services/gateway/core/event_builder.py
  services/gateway/core/utils.py
  services/gateway/main.py
  services/gateway/models/context.py
  services/gateway/models/function.py
  services/gateway/models/result.py
  services/gateway/models/target_function.py
  services/gateway/services/function_registry.py
  services/gateway/services/grpc_backend.py
  services/gateway/services/grpc_provision.py
  services/gateway/services/lambda_invoker.py
  services/gateway/services/pool_manager.py
  services/gateway/services/processor.py
  services/gateway/services/route_matcher.py
  services/gateway/tests/conftest.py
  services/gateway/tests/stress/test_pool_concurrency.py
  services/gateway/tests/test_cb_logical_error.py
  services/gateway/tests/test_concurrency.py
  services/gateway/tests/test_error_logging.py
  services/gateway/tests/test_event_builder.py
  services/gateway/tests/test_function_registry.py
  services/gateway/tests/test_grpc_provision.py
  services/gateway/tests/test_integration_handler.py
  services/gateway/tests/test_lambda_invoker_circuit.py
  services/gateway/tests/test_lambda_invoker_di.py
  services/gateway/tests/test_lambda_invoker_pool.py
  services/gateway/tests/test_pool_manager.py
  services/gateway/tests/test_pool_manager_autoscaling.py
  services/gateway/tests/unit/test_lambda_invoker_isolation.py
  services/gateway/tests/unit/test_processor.py
  services/gateway/uv.lock
Due: ruff-check, ruff-format, ty-check

fix(cli): increase default acquire_timeout to 30s to fix E2E tests
  cli/internal/generator/templates/functions.yml.tmpl
Due: none

Agent: CNI整合性修正 / Agent: CNI alignment
  docs/environment-variables.md
  docs/network-routing.md
  docs/plans/agent_remediation_plan.md
  docs/reports/agent_architecture_review.md
  services/agent/internal/cni/generator.go
  services/agent/internal/cni/generator_test.go
Due: go-fmt, go-lint

Docs: 計画/レポート削除 / Docs: remove plans/reports
  docs/plans/branding-refactoring.md
  docs/plans/cli-state-management-improvement.md
  docs/plans/cli-ux-improvements.md
  docs/plans/declarative-provisioning-migration.md
  docs/plans/gateway_refactoring_implementation_plan.md
  docs/reports/gateway_refactoring_critique.md
  docs/reports/gateway_refactoring_meta_review.md
  docs/reports/gateway_refactoring_report.md
Due: none

Agent: InvokeWorkerをcontainer_id化 / Agent: container_id InvokeWorker
  docs/firecracker-roadmap.md
  proto/agent.proto
  services/agent/internal/api/server.go
  services/agent/internal/api/server_test.go
  services/agent/pkg/api/v1/agent.pb.go
  services/gateway/pb/agent_pb2.py
  services/gateway/pb/agent_pb2_grpc.py
  services/gateway/services/agent_invoke.py
Due: ruff-check, ruff-format, ty-check, go-fmt, go-lint

Gateway: Invoke再試行 / Gateway: invoke retry
  services/gateway/services/lambda_invoker.py
  services/gateway/tests/test_lambda_invoker_di.py
Due: ruff-check, ruff-format, ty-check

Gateway/Agent: mTLS/metrics整備 / mTLS + pool metrics updates
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc.yml
  docker-compose.worker.yml
  docs/autoscaling.md
  docs/docker-architecture.md
  docs/plans/agent_remediation_plan.md
  e2e/runner/env.py
  e2e/scenarios/autoscaling/pool_metrics.py
  e2e/scenarios/autoscaling/test_e2e_autoscaling.py
  e2e/scenarios/autoscaling/test_scale_out.py
  e2e/scenarios/autoscaling/test_scale_to_zero.py
  e2e/scenarios/standard/test_metrics_api.py
  services/agent/cmd/agent/main.go
  services/gateway/config.py
  services/gateway/main.py
  services/gateway/services/container_pool.py
  services/gateway/services/grpc_backend.py
  services/gateway/services/grpc_channel.py
  services/gateway/services/pool_manager.py
  services/gateway/tests/test_lambda_invoker_di.py
  services/gateway/tests/test_lambda_invoker_pool.py
  services/gateway/tests/unit/test_lambda_invoker_isolation.py
  tools/cert-gen/config.toml
  tools/cert-gen/generate.py
  tools/tests/test_cert_gen.py
Due: ruff-check, ruff-format, ty-check, go-fmt, go-lint

Agent: GC対象限定とCNI cleanup
  docs/plans/agent_remediation_plan.md
  services/agent/internal/runtime/constants.go
  services/agent/internal/runtime/containerd/gc.go
  services/agent/internal/runtime/containerd/gc_test.go
Due: go-fmt, go-lint

Gateway/E2E: pool metrics同期化とテスト整理
  e2e/scenarios/autoscaling/pool_metrics.py
  e2e/scenarios/autoscaling/test_scale_out.py
  e2e/scenarios/standard/test_metrics_api.py
  services/gateway/main.py
  services/gateway/services/pool_manager.py
Due: ruff-check, ruff-format, ty-check

Gateway/E2E: grpc aio型整理とmetrics修正
  e2e/scenarios/standard/test_metrics_api.py
  services/gateway/services/grpc_backend.py
  services/gateway/services/grpc_channel.py
Due: ruff-check, ruff-format, ty-check

Agent: Image取得エラー判別 / Image pull gating
  docs/plans/agent_remediation_plan.md
  services/agent/internal/runtime/containerd/image.go
  services/agent/internal/runtime/containerd/image_test.go
Due: go-fmt, go-lint

Agent: InvokeWorker cache再同期
  services/agent/internal/api/server.go
  services/agent/internal/api/server_test.go
  services/agent/internal/runtime/containerd/list_test.go
  services/agent/internal/runtime/containerd/runtime.go
  services/agent/internal/runtime/docker/runtime.go
  services/agent/internal/runtime/docker/runtime_test.go
  services/agent/internal/runtime/interface.go
Due: go-fmt, go-lint

Docs: CNI_NET_DIR を追記
  docs/environment-variables.md
Due: none

Gateway/Agent: provisioning log調整 + TLS警告
  services/agent/cmd/agent/main.go
  services/gateway/services/grpc_provision.py
Due: ruff-check, ruff-format, ty-check, go-fmt, go-lint

Gateway/Agent: gRPC closeとDestroy NotFound扱い
  services/agent/internal/api/server.go
  services/agent/internal/api/server_test.go
  services/gateway/main.py
Due: ruff-check, ruff-format, ty-check, go-fmt, go-lint

Agent: gRPC設定のUT追加
  services/agent/cmd/agent/main.go
  services/agent/cmd/agent/main_test.go
Due: go-fmt, go-lint

Docs: 実装反映 / Sync docs with implementation
  docs/architecture-containerd.md
  docs/architecture/compose-mixin.md
  docs/client-auth-spec.md
  docs/container-management.md
  docs/developer/cli-architecture.md
  docs/docker-architecture.md
  docs/environment-variables.md
  docs/firecracker-roadmap.md
  docs/generator-architecture.md
  docs/local-logging-adapter.md
  docs/network-optimization.md
  docs/network-routing.md
  docs/plans/agent_remaining_plan.md
  docs/plans/agent_remediation_plan.md
  docs/proxy.md
  docs/reports/agent_architecture_review.md
  docs/resilience.md
  docs/spec.md
Due: none

Docs: 図を更新 / Update mermaid diagrams
  docs/spec.md
Due: none

Docs: 修正 mermaid 図の表記 / Fix mermaid diagram notation
  docs/spec.md
Due: none

CLI: cleanup env/logs guard + remove dead port UI
  cli/internal/app/env_var.go
  cli/internal/app/ports.go
  docs/reports/cli_optionb_validation_plan.md
Due: none

CLI docs: workflows/ports 反映
  cli/docs/architecture.md
  cli/docs/build.md
  cli/docs/down.md
  cli/docs/env.md
  cli/docs/info.md
  cli/docs/logs.md
  cli/docs/project.md
  cli/docs/prune.md
  cli/docs/stop.md
  cli/docs/up.md
Due: none

CLI: workflowテスト追加とDocs更新
  cli/internal/workflows/build_test.go
  cli/internal/workflows/down_test.go
  cli/internal/workflows/env_test.go
  cli/internal/workflows/logs_test.go
  cli/internal/workflows/project_helpers_test.go
  cli/internal/workflows/project_test.go
  cli/internal/workflows/prune_test.go
  cli/internal/workflows/stop_test.go
  cli/internal/workflows/up_test.go
  cli/internal/workflows/workflow_test_helpers.go
  docs/reports/cli_architecture_review_reassessment.md
  docs/reports/cli_optionb_migration_plan.md
  docs/reports/cli_optionb_migration_plan_archive.md
Due: none

CLI: command constructors
  cli/internal/app/build.go
  cli/internal/app/down.go
  cli/internal/app/logs.go
  cli/internal/app/prune.go
  cli/internal/app/stop.go
  cli/internal/app/up.go
  docs/reports/cli_optionb_migration_plan.md
Due: none

CLI: add wire initializer
  cli/cmd/esb/main.go
  cli/internal/wire/wire.go
  cli/internal/wire/wire_test.go
  docs/reports/cli_optionb_migration_plan.md
Due: none

CLI: interaction split / CLI: interaction分離
  cli/docs/architecture.md
  cli/docs/logs.md
  cli/internal/commands/app.go
  cli/internal/commands/command_context.go
  cli/internal/commands/command_context_test.go
  cli/internal/commands/complete.go
  cli/internal/commands/env.go
  cli/internal/commands/env_test.go
  cli/internal/commands/env_var.go
  cli/internal/commands/init.go
  cli/internal/commands/interaction.go
  cli/internal/commands/logs.go
  cli/internal/commands/mock_prompter_test.go
  cli/internal/commands/project.go
  cli/internal/commands/prune.go
  cli/internal/commands/prune_test.go
  cli/internal/commands/resolve_options.go
  cli/internal/commands/selector_test.go
  cli/internal/commands/up.go
  cli/internal/commands/up_test.go
  cli/internal/interaction/interaction.go
  cli/internal/interaction/selector.go
  cli/internal/wire/wire.go
  docs/developer/cli-architecture.md
  docs/reports/cli_architecture_review_reassessment.md
  docs/reports/cli_optionb_dependency_inventory.md
  docs/reports/cli_optionb_migration_plan.md
Due: none

CLI: unify command output / CLI: コマンド出力統一
  cli/internal/commands/app.go
  cli/internal/commands/command_context.go
  cli/internal/commands/complete.go
  cli/internal/commands/completion.go
  cli/internal/commands/config_cmd.go
  cli/internal/commands/env.go
  cli/internal/commands/env_var.go
  cli/internal/commands/info.go
  cli/internal/commands/init.go
  cli/internal/commands/output.go
  cli/internal/commands/project.go
  cli/internal/commands/prune.go
  cli/internal/commands/up.go
  docs/reports/cli_architecture_review_reassessment.md
  docs/reports/cli_optionb_migration_plan.md
Due: none

CLI: front-load config dependencies / CLI: 設定/FS依存前段化
  cli/internal/commands/app.go
  cli/internal/commands/command_context.go
  cli/internal/commands/complete.go
  cli/internal/commands/config_access.go
  cli/internal/commands/config_cmd.go
  cli/internal/commands/env.go
  cli/internal/commands/global_config.go
  cli/internal/commands/info.go
  cli/internal/commands/project.go
  cli/internal/commands/project_config.go
  cli/internal/commands/project_resolver.go
  cli/internal/commands/time_helpers.go
  cli/internal/helpers/config_loader.go
  cli/internal/helpers/project_config.go
  cli/internal/wire/wire.go
  docs/reports/cli_optionb_migration_plan.md
Due: none

CLI: finish config front-loading / CLI: 設定依存前段化完了
  cli/internal/commands/app.go
  cli/internal/commands/config_access.go
  cli/internal/commands/project_resolver.go
  cli/internal/helpers/config_loader.go
  cli/internal/helpers/config_loader_test.go
  cli/internal/helpers/project_finder.go
  cli/internal/wire/wire.go
Due: none

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  ty-check: any of: *.py
  go-fmt: any of: **/*.go and ^services/agent/
  tools-go-fmt: any of: **/*.go and ^tools\-go/
  go-lint: any of: **/*.go and ^services/agent/
  tools-go-lint: any of: **/*.go and ^tools\-go/
