Repository poruru-code/esb: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, ty-check, go-fmt, cli-fmt, go-lint, cli-lint

ruff-check:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uv run ruff format {staged_files}
  stage_fixed: true

ty-check:
  run: uv run ty check tools/ services/gateway/

go-fmt:
  run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

cli-fmt:
  run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

go-lint:
  run: golangci-lint run ./...

cli-lint:
  run: GOWORK=$(pwd)/../go.work.cli golangci-lint run ./...

Revert "feat(agent): apply Lambda memory size to Docker HostConfig"
  services/agent/docs/runtime-docker.md
  services/agent/internal/runtime/docker/runtime.go
  services/agent/internal/runtime/docker/runtime_test.go
Due: go-fmt, go-lint

refactor: centralize brand resolution and remove .branding.env dependency
  e2e/runner/branding.py
  e2e/runner/cleanup.py
  e2e/runner/config.py
  e2e/runner/context.py
  e2e/runner/env.py
  e2e/runner/infra.py
  e2e/runner/lifecycle.py
  e2e/runner/planner.py
  e2e/runner/runner.py
  e2e/runner/tests/test_branding.py
  e2e/runner/tests/test_env.py
  e2e/runner/utils.py
  e2e/runner/warmup.py
  pkg/deployops/branding_paths.go
  pkg/deployops/layer_contexts.go
  pkg/deployops/layer_contexts_test.go
  pkg/deployops/prepare_images_core_test.go
Due: ruff-check, ruff-format, ty-check

test: add regression coverage for brand labels and repo-root fallback
  e2e/runner/env.py
  e2e/runner/tests/test_cleanup.py
  pkg/deployops/layer_contexts_test.go
Due: ruff-check, ruff-format, ty-check

refactor(deployops): generate branding path defaults from slug
  docker-bake.hcl
  pkg/deployops/branding_constants_gen.go
  pkg/deployops/branding_paths.go
Due: none

refactor branding single-source contract and deploy fallbacks
  .mise.toml
  docs/runtime-identity-contract.md
  e2e/run_tests.py
  e2e/runner/aws_utils.py
  e2e/runner/ctl_contract.py
  e2e/runner/deploy.py
  e2e/runner/tests/test_aws_utils.py
  e2e/runner/tests/test_deploy_command.py
  e2e/runner/tests/test_run_tests_cli_requirement.py
  e2e/runner/utils.py
  e2e/scripts/regenerate_artifacts.sh
  pkg/deployops/execute_test.go
  pkg/deployops/lambda_base.go
  pkg/deployops/prepare_images.go
  pkg/deployops/prepare_images_base_test.go
  pkg/deployops/prepare_images_dockerfile.go
  pkg/deployops/prepare_images_dockerfile_test.go
  pkg/deployops/runtime_observation.go
  services/agent/docs/configuration.md
  services/agent/internal/identity/stack_identity.go
  services/agent/internal/identity/stack_identity_test.go
  services/agent/internal/runtime/constants.go
  services/agent/internal/runtime/containerd/runtime.go
  services/agent/internal/runtime/containerd/runtime_test.go
  services/agent/internal/runtime/docker/runtime.go
  services/agent/internal/runtime/docker/runtime_test.go
  services/agent/internal/runtime/image_naming.go
  services/agent/internal/runtime/image_naming_test.go
  tools/artifactctl/cmd/artifactctl/main.go
  tools/buildkit/setup_buildx.py
  tools/cert-gen/generate.py
  tools/cert-gen/resolve_default_cert_dir.py
  tools/ci/check_branding_single_source.sh
  tools/e2e_proxy/collect_failure_logs.sh
Due: ruff-check, ruff-format, ty-check, go-fmt, go-lint

buildx: accept legacy managed marker in config
  tools/buildkit/setup_buildx.py
Due: ruff-check, ruff-format, ty-check

docs: sync deploy contract and ESB-CLI integration rules
  docs/artifact-operations.md
  docs/deploy-artifact-contract.md
  docs/release-notes.md
  e2e/runner/README.md
Due: none

branding: switch ctl command surface to esb-ctl
  .mise.toml
  e2e/run_tests.py
  e2e/runner/README.md
  e2e/runner/ctl_contract.py
  e2e/runner/deploy.py
  e2e/runner/tests/test_deploy_command.py
  e2e/runner/tests/test_run_tests_cli_requirement.py
  pkg/deployops/branding_paths.go
  tools/artifactctl/cmd/artifactctl/main.go
  tools/artifactctl/cmd/artifactctl/main_test.go
  tools/ci/check_branding_single_source.sh
  tools/e2e_proxy/collect_failure_logs.sh
Due: ruff-check, ruff-format, ty-check

docs: switch deploy command references to esb-ctl
  README.md
  docs/artifact-operations.md
  docs/container-runtime-operations.md
  docs/deploy-artifact-contract.md
  docs/release-notes.md
  e2e/fixtures/images/lambda/java/README.md
  e2e/fixtures/images/lambda/python/README.md
Due: none

chore: regenerate .mise.toml from branding template
  .mise.toml
Due: none

docs(agent): align deploy command references with esb-ctl
  .agent/2026-02-25-branding-minimalization-execplan.md
  services/agent/docs/README.md
  services/agent/docs/architecture.md
  services/agent/docs/configuration.md
  services/agent/docs/runtime-containerd.md
Due: none

chore: remove completed branding execplan doc
  .agent/2026-02-25-branding-minimalization-execplan.md
Due: none

Align E2E default brand/ctl to generated branding constants
  e2e/runner/branding.py
  e2e/runner/tests/test_branding.py
  e2e/runner/tests/test_context.py
Due: ruff-check, ruff-format, ty-check

Use generated Python branding constants at runtime
  e2e/runner/branding.py
  e2e/runner/branding_constants_gen.py
  e2e/runner/ctl_contract.py
  tools/ci/check_branding_single_source.sh
Due: ruff-check, ruff-format, ty-check

Fix artifact deploy project/env name resolution
  artifacts/deploy.sh
Due: none

Refactor deploy script to use root compose include
  artifacts/deploy.sh
Due: none

Address review feedback in deploy script
  artifacts/deploy.sh
Due: none

fix: avoid indefinite registry wait in deploy script
  artifacts/deploy.sh
Due: none

Fix cert setup auto-regenerate leaf certs on CA mismatch
  .mise.toml
  docs/certificate-operations.md
  tools/cert-gen/config.toml
  tools/cert-gen/generate.py
  tools/cert-gen/resolve_default_cert_dir.py
Due: ruff-check, ruff-format, ty-check

Address review feedback for cert task wiring and trust detection
  .mise.toml
  docs/certificate-operations.md
  tools/cert-gen/generate.py
Due: ruff-check, ruff-format, ty-check

artifacts: make deploy script use configurable ctl binary
  artifacts/deploy.sh
Due: none

e2e: integrate proxy harness and switch maven shim to JVM proxy args
  e2e/docs/proxy-harness.md
  e2e/run_tests.py
  e2e/runner/README.md
  e2e/runner/cli.py
  e2e/runner/proxy_harness.py
  e2e/runner/tests/test_proxy_harness.py
  pkg/deployops/mavenshim/assets/Dockerfile
  pkg/deployops/mavenshim/assets/mvn-wrapper.sh
  pkg/deployops/mavenshim/ensure_test.go
  tools/ci/check_branding_single_source.sh
  tools/e2e_proxy/README.md
  tools/e2e_proxy/collect_failure_logs.sh
  tools/e2e_proxy/run_with_tinyproxy.py
Due: ruff-check, ruff-format, ty-check

mavenshim: restore settings.xml primary flow with 407 fallback
  pkg/deployops/mavenshim/assets/Dockerfile
  pkg/deployops/mavenshim/assets/mvn-wrapper.sh
  pkg/deployops/mavenshim/ensure_test.go
Due: none

mavenshim: fallback to JVM proxy args on network proxy failures
  pkg/deployops/mavenshim/assets/mvn-wrapper.sh
  pkg/deployops/mavenshim/ensure_test.go
Due: none

e2e: integrate proxy harness and harden maven shim proxy fallback
  e2e/docs/proxy-harness.md
  e2e/run_tests.py
  e2e/runner/README.md
  e2e/runner/cli.py
  e2e/runner/proxy_harness.py
  e2e/runner/tests/test_proxy_harness.py
  pkg/deployops/mavenshim/assets/Dockerfile
  pkg/deployops/mavenshim/assets/mvn-wrapper.sh
  pkg/deployops/mavenshim/ensure_test.go
  tools/ci/check_branding_single_source.sh
  tools/e2e_proxy/README.md
  tools/e2e_proxy/collect_failure_logs.sh
  tools/e2e_proxy/run_with_tinyproxy.py
Due: ruff-check, ruff-format, ty-check

fix: clean up java proof proxy and hide fallback proxy creds
  e2e/runner/proxy_harness.py
  e2e/runner/tests/test_proxy_harness.py
  pkg/deployops/mavenshim/assets/mvn-wrapper.sh
  pkg/deployops/mavenshim/ensure_test.go
Due: ruff-check, ruff-format, ty-check

fix: isolate proxy buildx config and move CI/CST assets
  .github/checks/adapter_pkg_v0_allowlist.txt
  .github/checks/artifactcore_exports_allowlist.txt
  .github/checks/check_branding_single_source.sh
  .github/checks/check_java_reproducible_jars.sh
  .github/checks/check_maven_proxy_contract.sh
  .github/checks/check_repo_layout.sh
  .github/checks/check_tooling_boundaries.sh
  .github/cst/Makefile
  .github/cst/agent-containerd.yaml
  .github/cst/agent.yaml
  .github/cst/gateway.yaml
  .github/cst/os-base.yaml
  .github/cst/python-base.yaml
  .github/cst/runtime-node.yaml
  .github/pull_request_template.md
  .github/workflows/image-checks.yml
  .github/workflows/java-reproducible-jars.yml
  .github/workflows/quality-gates.yml
  e2e/docs/proxy-harness.md
  e2e/runner/README.md
  e2e/runner/branding.py
  e2e/runner/env.py
  e2e/runner/proxy_harness.py
  e2e/runner/tests/test_branding.py
  e2e/runner/tests/test_env_proxy.py
  e2e/runner/tests/test_proxy_harness.py
Due: ruff-check, ruff-format, ty-check

chore: remove pull request template
  .github/pull_request_template.md
Due: none

fix: scope proxy buildx fallback to active project
  e2e/runner/branding.py
  e2e/runner/env.py
  e2e/runner/tests/test_branding.py
  e2e/runner/tests/test_env_proxy.py
Due: ruff-check, ruff-format, ty-check

bootstrap: rebuild WSL/Hyper-V bootstrap around cloud-init
  .github/checks/check_repo_layout.sh
  tools/bootstrap/README.md
  tools/bootstrap/cloud-init/user-data.template.yaml
  tools/bootstrap/cloud-init/verify-instance.sh
  tools/bootstrap/core/render-user-data.ps1
  tools/bootstrap/hyper-v/create-instance.ps1
  tools/bootstrap/hyper-v/preflight.ps1
  tools/bootstrap/hyper-v/validate-instance.ps1
  tools/bootstrap/hyper-v/vars.example
  tools/bootstrap/inventory
  tools/bootstrap/playbook.yml
  tools/bootstrap/roles/common/tasks/main.yml
  tools/bootstrap/roles/common/templates/01proxy.j2
  tools/bootstrap/roles/docker/handlers/main.yml
  tools/bootstrap/roles/docker/tasks/main.yml
  tools/bootstrap/roles/docker/templates/http-proxy.conf.j2
  tools/bootstrap/vars.yml
  tools/bootstrap/wireguard/README.md
  tools/bootstrap/wireguard/examples/compute/wg0.conf.example
  tools/bootstrap/wireguard/examples/gateway/wg0.conf.example
  tools/bootstrap/wsl/create-instance.ps1
  tools/bootstrap/wsl/preflight.ps1
  tools/bootstrap/wsl/validate-instance.ps1
  tools/bootstrap/wsl/vars.example
Due: none

checks: align repo layout guard with bootstrap structure
  .github/checks/check_repo_layout.sh
Due: none

refactor bootstrap flows and finalize validation checks
  tools/bootstrap/README.md
  tools/bootstrap/cloud-init/user-data.template.yaml
  tools/bootstrap/cloud-init/verify-instance.sh
  tools/bootstrap/core/bootstrap-common.psm1
  tools/bootstrap/core/render-user-data.ps1
  tools/bootstrap/core/render-user-data.psm1
  tools/bootstrap/hyper-v/create-instance.ps1
  tools/bootstrap/hyper-v/preflight.ps1
  tools/bootstrap/hyper-v/validate-instance.ps1
  tools/bootstrap/hyper-v/vars.example
  tools/bootstrap/wsl/create-instance.ps1
  tools/bootstrap/wsl/preflight.ps1
  tools/bootstrap/wsl/validate-instance.ps1
  tools/bootstrap/wsl/vars.example
Due: none

bootstrap: handle default network hub and verify effective ssh auth
  tools/bootstrap/README.md
  tools/bootstrap/cloud-init/verify-instance.sh
  tools/bootstrap/hyper-v/create-instance.ps1
  tools/bootstrap/hyper-v/vars.example
Due: none

bootstrap: split custom CA injection timing for wsl and hyper-v
  tools/bootstrap/README.md
  tools/bootstrap/cloud-init/verify-instance.sh
  tools/bootstrap/core/render-user-data.psm1
  tools/bootstrap/hyper-v/create-instance.ps1
  tools/bootstrap/wsl/create-instance.ps1
Due: none

bootstrap: harden hyper-v ssh check and launch timeout handling
  tools/bootstrap/cloud-init/verify-instance.sh
  tools/bootstrap/hyper-v/create-instance.ps1
Due: none

bootstrap: remove write_files permissions to avoid cloud-init schema degradation
  tools/bootstrap/cloud-init/user-data.template.yaml
Due: none

docs: add ssh client troubleshooting for hyper-v connection
  tools/bootstrap/README.md
Due: none

bootstrap: address PR review findings for env parsing and layout checks
  .github/checks/check_repo_layout.sh
  tools/bootstrap/cloud-init/user-data.template.yaml
  tools/bootstrap/wsl/create-instance.ps1
Due: none

fix: raise e2e function memory and unconfine agent apparmor
  docker-compose.containerd.yml
  e2e/artifacts/e2e-containerd/entries/template-e2e-ecd3e8e5/config/functions.yml
  e2e/artifacts/e2e-docker/entries/template-e2e-ecd3e8e5/config/functions.yml
  e2e/fixtures/template.e2e.yaml
Due: none

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  ty-check: any of: *.py
  go-fmt: any of: **/*.go and ^services/agent/
  cli-fmt: any of: **/*.go and ^cli/
  go-lint: any of: **/*.go and ^services/agent/
  cli-lint: any of: **/*.go and ^cli/
