Repository poruru-code/esb: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, ty-check, go-fmt, tools-go-fmt, go-lint, tools-go-lint

ruff-check:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uv run ruff format {staged_files}
  stage_fixed: true

ty-check:
  run: uv run ty check tools/ services/gateway/

go-fmt:
  run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

tools-go-fmt:
  run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

go-lint:
  run: golangci-lint run ./...

tools-go-lint:
  run: golangci-lint run ./...

Template: Dockerfile分割
  cli/internal/domain/template/renderer.go
  cli/internal/domain/template/templates/dockerfile_java.tmpl
  cli/internal/domain/template/templates/dockerfile_python.tmpl
Due: none

E2E: test-only時のJava warmup回避
  e2e/runner/runner.py
Due: ruff-check, ruff-format, ty-check

E2E: deployテンプレ基準でJava warmup
  e2e/runner/runner.py
Due: ruff-check, ruff-format, ty-check

E2E: SAMタグを無視してJava検出
  e2e/runner/runner.py
Due: ruff-check, ruff-format, ty-check

E2E: Globals RuntimeでJava判定
  e2e/runner/runner.py
Due: ruff-check, ruff-format, ty-check

E2E: Javaウォームアップ判定のUT追加
  e2e/runner/test_runner_java_warmup.py
Due: ruff-check, ruff-format, ty-check

JavaAgent: CloudWatch adviceをSDKフォールバック対応
  runtime/java/extensions/agent/pom.xml
  runtime/java/extensions/agent/src/main/java/com/runtime/agent/advice/CloudWatchLogsAdvice.java
  runtime/java/extensions/agent/src/test/java/com/runtime/agent/advice/CloudWatchLogsAdviceTest.java
Due: none

JavaAgent: CloudWatch Consumer overloadをフォールバック
  runtime/java/extensions/agent/src/main/java/com/runtime/agent/advice/CloudWatchLogsAdvice.java
  runtime/java/extensions/agent/src/main/java/com/runtime/agent/aws/AwsClientProxyFactory.java
  runtime/java/extensions/agent/src/main/java/com/runtime/agent/aws/CloudWatchLogsRequestGuard.java
  runtime/java/extensions/agent/src/test/java/com/runtime/agent/advice/CloudWatchLogsAdviceTest.java
  runtime/java/extensions/agent/src/test/java/com/runtime/agent/aws/CloudWatchLogsRequestGuardTest.java
  runtime/java/extensions/agent/src/test/java/software/amazon/awssdk/services/cloudwatchlogs/model/FakeLogRequest.java
Due: none

Docs: prewarm仕様と図の整合を修正
  cli/docs/container-management.md
  services/agent/docs/configuration.md
  services/gateway/docs/architecture.md
Due: none

E2E/Deploy: 出力整形とヒント改善
  cli/docs/sam-parsing-architecture.md
  cli/internal/command/app.go
  cli/internal/command/deploy.go
  cli/internal/infra/build/bake.go
  cli/internal/infra/build/build_request.go
  cli/internal/infra/build/go_builder.go
  cli/internal/infra/build/go_builder_helpers.go
  cli/internal/infra/ui/console.go
  cli/internal/infra/ui/deploy.go
  cli/internal/usecase/deploy/config_diff.go
  cli/internal/usecase/deploy/deploy.go
  e2e/run_tests.py
  e2e/runner/cli.py
  e2e/runner/executor.py
  e2e/runner/logging.py
  e2e/runner/runner.py
  e2e/runner/ui.py
  tools/tests/test_e2e_reporter.py
Due: ruff-check, ruff-format, ty-check

E2E: ライブ進捗と時刻表示
  e2e/run_tests.py
  e2e/runner/cli.py
  e2e/runner/live_display.py
  e2e/runner/logging.py
  e2e/runner/runner.py
  e2e/runner/ui.py
  tools/tests/test_e2e_live_display.py
Due: ruff-check, ruff-format, ty-check

E2E: suite集約と時刻表示削除
  e2e/run_tests.py
  e2e/runner/live_display.py
  e2e/runner/runner.py
  e2e/runner/ui.py
Due: ruff-check, ruff-format, ty-check

CLI: deploy対話UXをstack選択優先に改善
  cli/internal/command/deploy.go
  cli/internal/command/deploy_inputs_flow_test.go
  cli/internal/command/deploy_running_projects_test.go
Due: none

CLI: completion機能を完全撤去
  .mise.toml
  README.md
  cli/docs/architecture.md
  cli/docs/completion.md
  cli/internal/command/app.go
  cli/internal/command/app_test.go
  cli/internal/command/branding_test.go
  cli/internal/command/completion.go
  cli/internal/command/output.go
Due: none

CLI: gateway停止時もstack検出を継続
  cli/internal/command/deploy.go
  cli/internal/command/deploy_running_projects_test.go
Due: none

E2E: 未使用 executor.py を削除
  e2e/runner/executor.py
Due: ruff-check, ruff-format, ty-check

E2E: runner責務をcontext/ports/warmupへ分割
  .env.example
  e2e/run_tests.py
  e2e/runner/context.py
  e2e/runner/ports.py
  e2e/runner/runner.py
  e2e/runner/test_runner_java_warmup.py
  e2e/runner/tests/test_context.py
  e2e/runner/tests/test_ports.py
  e2e/runner/tests/test_warmup_templates.py
  e2e/runner/warmup.py
Due: ruff-check, ruff-format, ty-check

CLI: Deploy/Build責務を分割
  cli/internal/command/deploy.go
  cli/internal/command/deploy_stack.go
  cli/internal/infra/build/bake.go
  cli/internal/infra/build/bake_proxy.go
  cli/internal/usecase/deploy/compose_support.go
  cli/internal/usecase/deploy/deploy.go
  cli/internal/usecase/deploy/gateway_runtime.go
  cli/internal/usecase/deploy/runtime_config.go
Due: none

CLI: runtime config syncのエラー伝播を修正
  cli/internal/usecase/deploy/runtime_config.go
  cli/internal/usecase/deploy/runtime_config_test.go
Due: none

Gateway/Agent: runtime責務を分割
  services/agent/internal/runtime/containerd/cni.go
  services/agent/internal/runtime/containerd/ensure.go
  services/agent/internal/runtime/containerd/list.go
  services/agent/internal/runtime/containerd/metrics.go
  services/agent/internal/runtime/containerd/runtime.go
  services/gateway/exceptions.py
  services/gateway/lifecycle.py
  services/gateway/main.py
  services/gateway/middleware.py
  services/gateway/routes.py
Due: ruff-check, ruff-format, ty-check, go-fmt, go-lint

Gateway Tests: TestClient依存をASGITransportへ移行
  services/gateway/tests/conftest.py
  services/gateway/tests/test_error_handling_main.py
  services/gateway/tests/test_error_logging.py
  services/gateway/tests/test_integration_handler.py
  services/gateway/tests/test_lambda_invoker_di.py
  services/gateway/tests/test_openapi_docs.py
Due: ruff-check, ruff-format, ty-check

Agent: proto生成物の重複を撤去
  services/agent/pkg/api/v1/proto/agent.pb.go
  services/agent/pkg/api/v1/proto/agent_grpc.pb.go
  tools/gen_proto.py
Due: ruff-check, ruff-format, ty-check, go-fmt, go-lint

Agent: gen_protoの移行掃除ロジックを削除
  tools/gen_proto.py
Due: ruff-check, ruff-format, ty-check

Docs: WS1-WS4実装反映ドキュメント更新
  .env.example
  cli/docs/architecture.md
  docs/README.md
  docs/architecture-containerd.md
  docs/e2e-runtime-smoke.md
  docs/environment-variables.md
  docs/spec.md
  e2e/runner/README.md
  services/agent/docs/README.md
  services/agent/docs/architecture.md
  services/agent/docs/grpc-api.md
  services/agent/docs/proto-generation.md
  services/agent/docs/runtime-containerd.md
  services/gateway/docs/README.md
  services/gateway/docs/architecture.md
  services/gateway/docs/configuration.md
Due: none

Build: AWS CLI依存を削除
  .mise.toml
  cli/internal/infra/build/bake.go
  e2e/run_tests.py
  services/agent/Dockerfile.containerd
  services/agent/Dockerfile.docker
  tools/e2e-minimal-lambda/README.md
  tools/e2e-minimal-lambda/build_push.sh
Due: ruff-check, ruff-format, ty-check

Proxy: レジストリ待機とJava設定伝播を修正
  cli/internal/infra/build/go_builder.go
  cli/internal/infra/build/go_builder_registry_wait_test.go
  cli/internal/infra/build/stage.go
  cli/internal/infra/build/stage_java_env_test.go
  e2e/runner/infra.py
  e2e/runner/tests/test_infra_registry_wait.py
  e2e/runner/tests/test_warmup_command.py
  e2e/runner/warmup.py
Due: ruff-check, ruff-format, ty-check

E2E: レジストリ待機のHTTP例外を再試行対象に
  e2e/runner/infra.py
  e2e/runner/tests/test_infra_registry_wait.py
Due: ruff-check, ruff-format, ty-check

Proxy: deploy/e2e/buildx の NO_PROXY 対応を強化
  cli/internal/infra/build/bake_proxy.go
  cli/internal/infra/build/bake_proxy_test.go
  cli/internal/usecase/deploy/deploy.go
  cli/internal/usecase/deploy/deploy_registry_wait_test.go
  e2e/runner/context.py
  e2e/runner/env.py
  e2e/runner/lifecycle.py
  e2e/runner/tests/test_context.py
  e2e/runner/tests/test_env_proxy.py
  e2e/runner/tests/test_lifecycle_gateway_proxy.py
Due: ruff-check, ruff-format, ty-check

Build: registry proxy bypassでIPv6 loopbackを考慮
  cli/internal/infra/build/go_builder.go
  cli/internal/infra/build/go_builder_registry_wait_test.go
Due: none

Java: Maven settings.xml を -s で明示適用
  cli/internal/infra/build/stage.go
  cli/internal/infra/build/stage_java_env_test.go
  e2e/runner/tests/test_warmup_command.py
  e2e/runner/warmup.py
Due: ruff-check, ruff-format, ty-check

Java: build imageをAWS SAM java21に統一
  cli/internal/infra/build/stage.go
  cli/internal/infra/build/stage_java_env_test.go
  e2e/runner/tests/test_warmup_command.py
  e2e/runner/warmup.py
  runtime/java/README.md
Due: ruff-check, ruff-format, ty-check

E2E: Java Maven proxy契約を固定化
  cli/internal/infra/build/bake_proxy.go
  cli/internal/infra/build/bake_proxy_test.go
  cli/internal/infra/build/stage.go
  cli/internal/infra/build/stage_java_env_test.go
  docs/java-maven-proxy-contract.md
  e2e/runner/README.md
  e2e/runner/buildx.py
  e2e/runner/context.py
  e2e/runner/tests/test_buildx_proxy_builder.py
  e2e/runner/tests/test_context.py
  e2e/runner/tests/test_warmup_command.py
  e2e/runner/warmup.py
  runtime/java/README.md
  runtime/java/testdata/maven_proxy_cases.json
  tools/ci/check_java_proxy_contract.sh
  tools/e2e_proxy/README.md
  tools/e2e_proxy/__init__.py
  tools/e2e_proxy/run_with_tinyproxy.py
  tools/tests/test_tinyproxy_runner.py
Due: ruff-check, ruff-format, ty-check

Java: CloudWatchLogsRequestGuardのConsumer判定テストを網羅化
  runtime/java/extensions/agent/src/main/java/com/runtime/agent/aws/CloudWatchLogsRequestGuard.java
  runtime/java/extensions/agent/src/test/java/com/runtime/agent/aws/CloudWatchLogsRequestGuardTest.java
Due: none

Java: CloudWatch Guardの診断ログを追加
  runtime/java/extensions/agent/src/main/java/com/runtime/agent/aws/CloudWatchLogsRequestGuard.java
Due: none

JavaAgent: CloudWatch外部フォールバックを排除
  runtime/java/extensions/agent/src/main/java/com/runtime/agent/advice/CloudWatchLogsAdvice.java
  runtime/java/extensions/agent/src/main/java/com/runtime/agent/aws/AwsClientProxyFactory.java
  runtime/java/extensions/agent/src/main/java/com/runtime/agent/aws/CloudWatchLogsMock.java
  runtime/java/extensions/agent/src/test/java/com/runtime/agent/advice/CloudWatchLogsAdviceTest.java
Due: none

Build: Java runtime jarを毎回再ビルド
  cli/internal/infra/build/generate_test.go
  cli/internal/infra/build/stage.go
Due: none

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  ty-check: any of: *.py
  go-fmt: any of: **/*.go and ^services/agent/
  tools-go-fmt: any of: **/*.go and ^tools\-go/
  go-lint: any of: **/*.go and ^services/agent/
  tools-go-lint: any of: **/*.go and ^tools\-go/
