Repository poruru-code/esb: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, ty-check, go-fmt, tools-go-fmt, go-lint, tools-go-lint

lefthook.yml:

# lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # --- Python Lint & Format ---
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true

    # --- Ty Type Check ---
    ty-check:
      glob: "*.py"
      run: uv run ty check tools/ services/gateway/

    # --- Go Formatting ---
    go-fmt:
      root: services/agent
      glob: "**/*.go"
      run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

    # --- Go Formatting (tools-go) ---
    tools-go-fmt:
      root: tools-go
      glob: "**/*.go"
      run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

    # --- Go Linting ---
    go-lint:
      root: services/agent
      glob: "**/*.go"
      run: golangci-lint run ./...

    # --- Go Linting (tools-go) ---
    tools-go-lint:
      root: tools-go
      glob: "**/*.go"
      run: golangci-lint run ./...

CLI: refresh architecture reassessment
  docs/reports/cli_architecture_review_reassessment.md
Due: none

CLI: document next-step plan
  docs/reports/cli_architecture_review_reassessment.md
Due: none

CLI: add port publish result
  cli/internal/commands/deps_split.go
  cli/internal/commands/up.go
  cli/internal/helpers/port_publisher.go
  cli/internal/helpers/port_publisher_test.go
  cli/internal/helpers/ports.go
  cli/internal/helpers/ports_test.go
  cli/internal/helpers/state_store.go
  cli/internal/helpers/state_store_test.go
  cli/internal/ports/state_store.go
  cli/internal/ports/up.go
  cli/internal/wire/wire.go
  cli/internal/workflows/up.go
  cli/internal/workflows/up_test.go
  cli/internal/workflows/workflow_test_helpers.go
Due: none

CLI: lazy docker wiring
  cli/cmd/esb/main.go
  cli/internal/commands/app.go
  cli/internal/helpers/docker_client.go
  cli/internal/wire/wire.go
  cli/internal/wire/wire_test.go
  docs/reports/cli_architecture_review_reassessment.md
Due: none

CLI: isolate SAM parsing
  cli/internal/commands/build_test.go
  cli/internal/commands/up.go
  cli/internal/commands/up_test.go
  cli/internal/generator/build_request.go
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_test.go
  cli/internal/generator/intrinsics_helpers_test.go
  cli/internal/generator/intrinsics_resolver.go
  cli/internal/generator/intrinsics_test.go
  cli/internal/generator/parser.go
  cli/internal/generator/parser_functions.go
  cli/internal/generator/parser_resources.go
  cli/internal/generator/renderer_snapshot_test.go
  cli/internal/generator/testdata/renderer/dockerfile_simple.golden
  cli/internal/generator/testdata/renderer/functions_simple.golden
  cli/internal/generator/testdata/renderer/routing_simple.golden
  cli/internal/manifest/resources.go
  cli/internal/ports/build.go
  cli/internal/provisioner/aws_clients.go
  cli/internal/provisioner/dynamodb.go
  cli/internal/provisioner/provisioner_s3_lifecycle_test.go
  cli/internal/provisioner/provisioner_test.go
  cli/internal/provisioner/s3.go
  cli/internal/sam/parser.go
  cli/internal/sam/template.go
  cli/internal/workflows/build.go
  cli/internal/workflows/up.go
  cli/internal/workflows/workflow_test_helpers.go
Due: none

CLI: update documentation for architecture, build, env, info, project, sam parsing, and up commands
  cli/docs/architecture.md
  cli/docs/build.md
  cli/docs/env.md
  cli/docs/info.md
  cli/docs/project.md
  cli/docs/sam-parsing-architecture.md
  cli/docs/up.md
  cli/internal/generator/generate_test.go
  docs/reports/cli_architecture_review_reassessment.md
Due: none

Generator: routingイベントのUT追加
  cli/internal/generator/generate_test.go
Due: none

Report: P3課題完了
  docs/reports/cli_architecture_review_reassessment.md
Due: none

ドキュメント: CLI Option B に関する複数のレポートファイルを削除
  docs/reports/cli_architecture_review_reassessment.md
  docs/reports/cli_optionb_dependency_inventory.md
  docs/reports/cli_optionb_migration_plan.md
  docs/reports/cli_optionb_migration_plan_archive.md
  docs/reports/cli_optionb_target_architecture.md
  docs/reports/cli_optionb_validation_plan.md
Due: none

feat(agent): implement phase 1 of remaining tasks (P1-1, P2-2, P4-3, P1-2) with docs
  docs/environment-variables.md
  docs/plans/agent_remaining_plan.md
  docs/reports/agent_architecture_review.md
  docs/reports/e2e_cli_coordination_design.md
  docs/reports/e2e_cli_coordination_review.md
  services/agent/internal/api/server.go
  services/agent/internal/runtime/containerd/port_allocator.go
  services/agent/internal/runtime/containerd/port_allocator_test.go
  services/agent/internal/runtime/docker/runtime.go
Due: go-fmt, go-lint

feat(agent): enable gRPC TLS by default and update documentation for policies
  docs/environment-variables.md
  docs/plans/agent_remaining_plan.md
  docs/reports/agent_architecture_review.md
  services/agent/cmd/agent/main.go
  services/agent/cmd/agent/main_test.go
Due: go-fmt, go-lint

feat(agent): normalize container status across runtimes with shared constants
  docs/plans/agent_remaining_plan.md
  docs/reports/agent_architecture_review.md
  services/agent/cmd/agent/main.go
  services/agent/internal/runtime/containerd/runtime.go
  services/agent/internal/runtime/docker/runtime.go
  services/agent/internal/runtime/docker/runtime_test.go
  services/agent/internal/runtime/interface.go
Due: go-fmt, go-lint

feat(agent): add unified logging with slog and environment variable control
  docs/environment-variables.md
  services/agent/cmd/agent/main.go
  services/agent/internal/logger/logger.go
Due: go-fmt, go-lint

feat(agent): support LOG_LEVEL fallback for unified logging config
  docs/environment-variables.md
  services/agent/internal/logger/logger.go
Due: go-fmt, go-lint

feat(agent): implement unified gRPC logging metrics using go-grpc-middleware v2
  services/agent/cmd/agent/main.go
  services/agent/go.mod
  services/agent/go.sum
  services/agent/internal/interceptor/logging.go
Due: go-fmt, go-lint

feat(agent): implement LastUsedAt tracking with Touch method across runtimes
  services/agent/internal/api/server.go
  services/agent/internal/api/server_test.go
  services/agent/internal/runtime/containerd/runtime.go
  services/agent/internal/runtime/docker/runtime.go
  services/agent/internal/runtime/interface.go
Due: go-fmt, go-lint

feat(agent): implement Prometheus metrics integration and expose /metrics endpoint
  services/agent/cmd/agent/main.go
  services/agent/go.mod
  services/agent/go.sum
Due: go-fmt, go-lint

feat(agent): add ReadHeaderTimeout to metrics server for security hardening
  services/agent/cmd/agent/main.go
Due: go-fmt, go-lint

test(e2e): add Prometheus metrics verification scenario and expose ports
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docs/environment-variables.md
  docs/plans/agent_remaining_plan.md
  docs/reports/agent_architecture_review.md
  e2e/conftest.py
  e2e/scenarios/standard/test_prometheus_metrics.py
Due: ruff-check, ruff-format, ty-check

fix(e2e): use dynamic port mapping for Prometheus metrics to support parallel execution
  docker-compose.containerd.yml
  docker-compose.docker.yml
  e2e/runner/executor.py
Due: ruff-check, ruff-format, ty-check

fix(e2e): resolve duplicate keys in docker-compose.docker.yml
  docker-compose.docker.yml
Due: none

fix(cli/e2e): enable dynamic port discovery for Prometheus metrics port (9091)
  cli/internal/compose/ports.go
  cli/internal/constants/env.go
  cli/internal/helpers/ports.go
  cli/internal/workflows/up.go
  e2e/runner/utils.py
Due: ruff-check, ruff-format, ty-check

feat(agent): centralize configuration defaults in internal/config package
  docs/downstream-branding-flow.md
  docs/environment-variables.md
  docs/spec.md
  services/agent/cmd/agent/main.go
  services/agent/internal/api/server.go
  services/agent/internal/cni/generator.go
  services/agent/internal/config/constants.go
  services/agent/internal/logger/logger.go
  services/agent/internal/runtime/containerd/runtime.go
  services/agent/internal/runtime/containerd/snapshotter_test.go
  services/agent/internal/runtime/docker/runtime.go
Due: go-fmt, go-lint

refactor: adopt compose include directive and split fc config
  cli/internal/compose/build_test.go
  cli/internal/compose/stop_test.go
  cli/internal/compose/up.go
  cli/internal/compose/up_test.go
  cli/internal/config/repo.go
  compose/base.yml
  compose/registry.yml
  compose/worker.yml
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc-node.yml
  docker-compose.fc.yml
  docs/architecture/compose-mixin.md
  docs/architecture/compose-structure.md
Due: none

fix(e2e): update test helpers to use new compose file structure
  e2e/conftest.py
  e2e/scenarios/standard/test_reconciliation.py
  e2e/scenarios/standard/test_resilience.py
Due: ruff-check, ruff-format, ty-check

fix: update compose files to use extends pattern and fix CI workflow
  .github/workflows/image-checks.yml
  cli/internal/commands/up_test.go
  cli/internal/compose/build_test.go
  cli/internal/compose/ports_test.go
  cli/internal/compose/stop_test.go
  cli/internal/compose/up_test.go
  cli/internal/config/repo_test.go
  cli/internal/generator/go_builder_test.go
  cli/internal/helpers/port_publisher_test.go
  compose/base.yml
  docker-compose.containerd.yml
  docker-compose.docker.yml
Due: none

Add CLI simplification design documents
  docs/plans/cli_design_review.md
  docs/plans/cli_simplification.md
  docs/plans/cli_simplification_detailed_design.md
Due: none

refactor(cli): implement esb sync command with hexagonal architecture (Phase 1)
  cli/internal/commands/app.go
  cli/internal/commands/deps_split.go
  cli/internal/commands/sync.go
  cli/internal/commands/sync_test.go
  cli/internal/wire/wire.go
  cli/internal/wire/wire_test.go
  cli/internal/workflows/sync.go
  cli/internal/workflows/sync_test.go
Due: none

feat(e2e): migrate runner to manual orchestration (Phase 2)
  cli/internal/workflows/up.go
  e2e/runner/config.py
  e2e/runner/env.py
  e2e/runner/executor.py
  e2e/runner/test_env.py
  e2e/runner/utils.py
Due: ruff-check, ruff-format, ty-check

refactor(cli,e2e): separate cli presentation layer and centralize e2e constants
  cli/internal/presenters/ports.go
  cli/internal/workflows/sync.go
  cli/internal/workflows/up.go
  docs/reports/phase2-review-7203e86.md
  e2e/runner/constants.py
  e2e/runner/env.py
  e2e/runner/test_env.py
Due: ruff-check, ruff-format, ty-check

E2E: runner update / E2E: ランナー更新
  e2e/fixtures/template.yaml
  e2e/run_tests.py
  e2e/runner/env.py
  e2e/runner/executor.py
  e2e/runner/test_env.py
Due: ruff-check, ruff-format, ty-check

Docs: build-only updates / Docs: build専用更新
  cli/docs/build.md
  docs/developer/cli-architecture.md
  docs/generator-architecture.md
  docs/reports/phase2-review-7203e86.md
Due: none

CI: update image-checks workflow
  .github/workflows/image-checks.yml
Due: none

CI: build base images before services
  .github/workflows/image-checks.yml
Due: none

fix(cli): allow empty string for String type parameters
  cli/internal/commands/build.go
  cli/internal/commands/build_test.go
Due: none

Docs: include-based compose usage and proxy
  README.md
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc-node.yml
  docker-compose.fc.yml
  docker-compose.yml
  docs/proxy.md
  services/common/Dockerfile.os-base
  services/common/Dockerfile.python-base
Due: none

CI: add build-base task to build base images
  .agent/plans/migrate-cert-gen-to-mise.md
  .agent/plans/s3-lifecycle-support.md
  .mise.toml
Due: none
