Repository poruru-code/esb: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, ty-check, go-fmt, tools-go-fmt, go-lint, tools-go-lint

ruff-check:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uv run ruff format {staged_files}
  stage_fixed: true

ty-check:
  run: uv run ty check tools/ services/gateway/

go-fmt:
  run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

tools-go-fmt:
  run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

go-lint:
  run: golangci-lint run ./...

tools-go-lint:
  run: golangci-lint run ./...

feat: add ansible bootstrap playbook and guide for WSL/Hyper-V
  bootstrap/inventory
  bootstrap/playbook.yml
  bootstrap/roles/common/tasks/main.yml
  bootstrap/roles/common/templates/01proxy.j2
  bootstrap/roles/docker/handlers/main.yml
  bootstrap/roles/docker/tasks/main.yml
  bootstrap/roles/docker/templates/http-proxy.conf.j2
  bootstrap/vars.yml
  docs/bootstrap-guide.md
Due: none

Containerd: DNS設定とベース分割 / Containerd: DNS fix and base split
  cli/internal/compose/ports.go
  cli/internal/compose/ports_test.go
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_helpers.go
  docker-compose.containerd.yml
  docker-compose.fc.yml
  docker-compose.yml
  docs/architecture-containerd.md
  docs/docker-architecture.md
  services/agent/Dockerfile
  services/agent/config/cni/10-esb.conflist
  services/agent/go.mod
  services/agent/internal/api/server.go
  services/agent/internal/api/server_test.go
  services/agent/internal/runtime/containerd/client.go
  services/agent/internal/runtime/containerd/common_test.go
  services/agent/internal/runtime/containerd/port_allocator.go
  services/agent/internal/runtime/containerd/port_allocator_test.go
  services/agent/internal/runtime/containerd/runtime.go
  services/agent/internal/runtime/docker/runtime.go
  services/common/Dockerfile.os-base
  services/common/Dockerfile.python-base
  services/gateway/Dockerfile.firecracker
  services/gateway/pyproject.toml
  services/runtime-node/Dockerfile
  services/runtime-node/Dockerfile.firecracker
  services/runtime-node/entrypoint.common.sh
Due: go-fmt, go-lint

Generator: テスト用CA設定
  cli/internal/generator/go_builder_test.go
Due: none

Agent: bufconn接続のresolver修正
  services/agent/internal/api/server_test.go
Due: go-fmt, go-lint

CI: CST/Dockle 導入
  .dockerignore
  .dockleignore
  .github/workflows/image-checks.yml
  Makefile
  config/container-structure-test/agent.yaml
  config/container-structure-test/gateway-firecracker.yaml
  config/container-structure-test/gateway.yaml
  config/container-structure-test/os-base.yaml
  config/container-structure-test/python-base.yaml
  config/container-structure-test/runtime-node-firecracker.yaml
  config/container-structure-test/runtime-node.yaml
Due: none

CI: image-checks ビルド順
  .github/workflows/image-checks.yml
Due: none

Gateway: staging設定のコピー修正
  .dockerignore
  services/gateway/Dockerfile
  services/gateway/Dockerfile.firecracker
Due: none

CLI: repo解決の優先順を修正
  cli/docs/config.md
  cli/internal/app/config_cmd.go
  cli/internal/config/repo.go
  cli/internal/config/repo_test.go
Due: none

Build: CA指紋でベース再ビルド
  cli/internal/generator/go_builder_helpers.go
  services/common/Dockerfile.os-base
  services/common/Dockerfile.python-base
Due: none

Branding: generator task flow
  .mise.toml
  tools/branding/generate.py
Due: ruff-check, ruff-format, ty-check

Branding: add check task
  .mise.toml
  docs/branding-generator.md
  tools/branding/generate.py
Due: ruff-check, ruff-format, ty-check

Branding: make check read-only
  docs/branding-generator.md
  tools/branding/generate.py
  tools/branding/tests/test_branding.py
Due: ruff-check, ruff-format, ty-check

CLI: 表示文言を中立化 / Neutralize branding messages
  cli/internal/app/config_cmd.go
  cli/internal/app/prune.go
  cli/internal/compose/prune.go
  cli/internal/compose/prune_test.go
  services/agent/cmd/agent/main.go
  services/agent/entrypoint.sh
  services/runtime-node/tests/test_entrypoint.py
  tools/branding/templates/entrypoint.sh.tmpl
  tools/diagnose_cgroup.sh
Due: ruff-check, ruff-format, ty-check, go-fmt, go-lint

Branding: template Dockerfiles and CST configs
  cli/internal/generator/assets/Dockerfile.lambda-base
  services/gateway/Dockerfile.firecracker
  tools/branding/generate.py
  tools/branding/templates/Makefile.tmpl
  tools/branding/templates/config/container-structure-test/agent.yaml.tmpl
  tools/branding/templates/config/container-structure-test/os-base.yaml.tmpl
  tools/branding/templates/config/container-structure-test/python-base.yaml.tmpl
  tools/branding/templates/services/agent/Dockerfile.tmpl
  tools/branding/templates/services/gateway/Dockerfile.firecracker.tmpl
  tools/branding/templates/services/gateway/Dockerfile.tmpl
  tools/branding/templates/services/runtime-node/Dockerfile.firecracker.tmpl
  tools/branding/templates/services/runtime-node/Dockerfile.tmpl
  tools/branding/templates/tools/cert-gen/config.toml.tmpl
  tools/cert-gen/generate.py
Due: ruff-check, ruff-format, ty-check

Branding: staging統一とE2E改善 / Unify staging + E2E tweaks
  .dockerignore
  .gitignore
  cli/internal/app/env_defaults.go
  cli/internal/app/env_defaults_test.go
  cli/internal/app/up_test.go
  cli/internal/constants/branding_gen.go
  cli/internal/generator/build_env.go
  cli/internal/generator/generate.go
  cli/internal/generator/go_builder_test.go
  cli/internal/generator/templates/functions.yml.tmpl
  e2e/run_tests.py
  e2e/runner/executor.py
  e2e/runner/utils.py
  services/gateway/Dockerfile
  services/gateway/Dockerfile.firecracker
  tools/branding/branding.py
  tools/branding/templates/docker-compose.containerd.yml.tmpl
  tools/branding/templates/docker-compose.docker.yml.tmpl
  tools/branding/templates/docker-compose.fc.yml.tmpl
  tools/branding/templates/docker-compose.registry.yml.tmpl
  tools/branding/templates/docker-compose.worker.yml.tmpl
  tools/branding/templates/docker-compose.yml.tmpl
  tools/branding/templates/services/gateway/Dockerfile.firecracker.tmpl
  tools/branding/templates/services/gateway/Dockerfile.tmpl
  tools/branding/templates/services/runtime-node/entrypoint.common.sh.tmpl
  tools/branding/templates/services/runtime-node/entrypoint.sh.tmpl
  tools/cert-gen/generate.py
Due: ruff-check, ruff-format, ty-check

CLI: staging cache + build fingerprint
  .dockerignore
  cli/internal/app/env_defaults.go
  cli/internal/app/up_test.go
  cli/internal/compose/docker.go
  cli/internal/generator/build_env.go
  cli/internal/generator/build_fingerprint.go
  cli/internal/generator/docker_image.go
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_helpers.go
  cli/internal/generator/go_builder_test.go
  cli/internal/staging/staging.go
  docker-compose.fc.yml
  docker-compose.yml
  docs/branding-generator.md
  services/gateway/Dockerfile
  services/gateway/Dockerfile.firecracker
  tools/branding/templates/docker-compose.fc.yml.tmpl
  tools/branding/templates/docker-compose.yml.tmpl
  tools/branding/templates/services/gateway/Dockerfile.firecracker.tmpl
  tools/branding/templates/services/gateway/Dockerfile.tmpl
Due: none

CLI: 証明書/プロキシ環境変数を整理
  cli/internal/app/env_defaults.go
  cli/internal/constants/env.go
Due: none

Branding: agent runtime templateを復元
  tools/branding/templates/services/agent/internal/runtime/branding_gen.go.tmpl
Due: none

Branding: CLI constants templateを復元
  tools/branding/templates/cli/internal/constants/branding_gen.go.tmpl
Due: none

Branding: CNIテンプレートを復元
  tools/branding/templates/services/agent/config/cni/10-cni.conflist.tmpl
Due: none

Branding: env定数テンプレートを復元
  tools/branding/templates/cli/internal/constants/env.go.tmpl
Due: none

Branding: envテンプレートにCA指紋を追加
  tools/branding/templates/cli/internal/constants/env.go.tmpl
Due: none

Generator: ステージング分離とCA引数汎用化 / Generator: staging hashing and generic CA args
  cli/internal/app/wait.go
  cli/internal/generator/renderer.go
  cli/internal/generator/templates/functions.yml.tmpl
  e2e/runner/aws_utils.py
  e2e/runner/env.py
  e2e/runner/executor.py
  e2e/runner/utils.py
  services/agent/cmd/agent/cni_config.go
  services/agent/cmd/agent/main.go
  services/agent/internal/runtime/branding_gen.go
  services/agent/internal/runtime/containerd/image.go
  services/common/Dockerfile.os-base
  services/common/Dockerfile.python-base
  tools/branding/templates/cli/internal/constants/env.go.tmpl
  tools/branding/templates/docker-compose.containerd.yml.tmpl
  tools/branding/templates/docker-compose.docker.yml.tmpl
  tools/branding/templates/docker-compose.fc.yml.tmpl
  tools/branding/templates/docker-compose.yml.tmpl
Due: ruff-check, ruff-format, ty-check, go-fmt, go-lint

Docs: downstream branding flow 手順 / Docs: downstream branding flow
  docs/downstream-branding-flow.md
Due: none

Config: branding.yamlを追加 / Config: add branding.yaml
  config/branding.yaml
Due: none

Docs: branding tool separation handoff
  docs/branding-tool-separation-handoff.md
Due: none

Tests: Root CAパスを更新 / Tests: update Root CA path
  config/container-structure-test/os-base.yaml
  config/container-structure-test/python-base.yaml
Due: none

CI: Dockle対策でRoot CA build arg名変更
  cli/internal/constants/branding_gen.go
  cli/internal/generator/go_builder_helpers.go
  docker-compose.yml
  docs/branding-tool-separation-handoff.md
  services/common/Dockerfile.os-base
  services/common/Dockerfile.python-base
  tools/branding/branding.py
  tools/branding/templates/cli/internal/constants/branding_gen.go.tmpl
  tools/branding/templates/docker-compose.yml.tmpl
Due: ruff-check, ruff-format, ty-check

Branding: 生成物更新 (Update generated outputs)
  cli/internal/constants/env.go
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc.yml
  docker-compose.registry.yml
  docker-compose.worker.yml
  services/agent/Dockerfile
  services/agent/config/cni/10-esb.conflist
  services/runtime-node/Dockerfile
  services/runtime-node/entrypoint.common.sh
  services/runtime-node/entrypoint.sh
Due: none

Agent: CNI取得にリトライ追加 (Retry CNI download)
  services/agent/Dockerfile
  tools/branding/templates/services/agent/Dockerfile.tmpl
Due: none

改善: dockerImageHasLabelValueおよびdockerImageID関数におけるdockerImageExistsのチェックを追加
  cli/internal/generator/docker_image.go
Due: none

CI: add branding dispatch
  .github/workflows/branding-dispatch.yml
  docs/branding-tool-separation-handoff.md
Due: none

CI: fix branding tool repo name
  .github/workflows/branding-dispatch.yml
Due: none

Branding: 生成ツールをESBから削除
  .mise.toml
  docs/branding-generator.md
  docs/branding-tool-separation-handoff.md
  docs/downstream-branding-flow.md
  tools/branding/branding.py
  tools/branding/generate.py
  tools/branding/templates/Makefile.tmpl
  tools/branding/templates/cli/internal/constants/branding_gen.go.tmpl
  tools/branding/templates/cli/internal/constants/env.go.tmpl
  tools/branding/templates/config/container-structure-test/agent.yaml.tmpl
  tools/branding/templates/config/container-structure-test/os-base.yaml.tmpl
  tools/branding/templates/config/container-structure-test/python-base.yaml.tmpl
  tools/branding/templates/docker-compose.containerd.yml.tmpl
  tools/branding/templates/docker-compose.docker.yml.tmpl
  tools/branding/templates/docker-compose.fc.yml.tmpl
  tools/branding/templates/docker-compose.registry.yml.tmpl
  tools/branding/templates/docker-compose.worker.yml.tmpl
  tools/branding/templates/docker-compose.yml.tmpl
  tools/branding/templates/entrypoint.sh.tmpl
  tools/branding/templates/services/agent/Dockerfile.tmpl
  tools/branding/templates/services/agent/config/cni/10-cni.conflist.tmpl
  tools/branding/templates/services/agent/internal/runtime/branding_gen.go.tmpl
  tools/branding/templates/services/gateway/Dockerfile.firecracker.tmpl
  tools/branding/templates/services/gateway/Dockerfile.tmpl
  tools/branding/templates/services/runtime-node/Dockerfile.firecracker.tmpl
  tools/branding/templates/services/runtime-node/Dockerfile.tmpl
  tools/branding/templates/services/runtime-node/entrypoint.common.sh.tmpl
  tools/branding/templates/services/runtime-node/entrypoint.sh.tmpl
  tools/branding/templates/tools/cert-gen/config.toml.tmpl
  tools/branding/tests/test_branding.py
Due: ruff-check, ruff-format, ty-check

Tools: fix cgroup diagnose slug
  tools/diagnose_cgroup.sh
Due: none

Mise: default CLI name
  .mise.toml
Due: none

Docs: link branding flow
  README.md
  docs/branding-generator.md
  docs/branding-tool-separation-handoff.md
  docs/downstream-branding-flow.md
Due: none

CLI: aws-sam-parser-go v0.1.1 に更新
  cli/go.mod
  cli/go.sum
Due: none

refactor: migrate CLI provisioning to declarative model
  cli/cmd/esb/cli.go
  cli/internal/app/app.go
  cli/internal/app/build.go
  cli/internal/app/build_test.go
  cli/internal/app/provision.go
  cli/internal/app/up.go
  cli/internal/app/up_test.go
  cli/internal/generator/generate_test.go
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_test.go
  cli/internal/generator/parser.go
  cli/internal/generator/parser_functions.go
  cli/internal/generator/parser_resources.go
  cli/internal/generator/renderer.go
  cli/internal/generator/renderer_test.go
  cli/internal/generator/stage.go
  cli/internal/manifest/resources.go
  cli/internal/provisioner/dynamodb.go
  cli/internal/provisioner/provisioner.go
  cli/internal/provisioner/provisioner_s3_lifecycle_test.go
  cli/internal/provisioner/provisioner_test.go
  cli/internal/provisioner/s3.go
  docs/plans/declarative-provisioning-migration.md
Due: none

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  ty-check: any of: *.py
  go-fmt: any of: **/*.go and ^services/agent/
  tools-go-fmt: any of: **/*.go and ^tools\-go/
  go-lint: any of: **/*.go and ^services/agent/
  tools-go-lint: any of: **/*.go and ^tools\-go/
