Repository poruru-code/esb: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, ty-check, go-fmt, tools-go-fmt, go-lint, tools-go-lint

lefthook.yml:

# lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # --- Python Lint & Format ---
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true

    # --- Ty Type Check ---
    ty-check:
      glob: "*.py"
      run: uv run ty check tools/ services/gateway/

    # --- Go Formatting ---
    go-fmt:
      root: services/agent
      glob: "**/*.go"
      run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

    # --- Go Formatting (tools-go) ---
    tools-go-fmt:
      root: tools-go
      glob: "**/*.go"
      run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

    # --- Go Linting ---
    go-lint:
      root: services/agent
      glob: "**/*.go"
      run: golangci-lint run ./...

    # --- Go Linting (tools-go) ---
    tools-go-lint:
      root: tools-go
      glob: "**/*.go"
      run: golangci-lint run ./...

Build: Java判定をKindベースに簡素化
  cli/internal/domain/runtime/runtime.go
  cli/internal/domain/runtime/runtime_test.go
  cli/internal/domain/template/renderer.go
  cli/internal/infra/build/stage.go
Due: none

Build: Java Maven m2キャッシュをプロジェクト内に導入
  cli/internal/infra/build/generate.go
  cli/internal/infra/build/generate_test.go
  cli/internal/infra/build/stage.go
  cli/internal/infra/build/stage_java_env_test.go
  docs/java-maven-proxy-contract.md
  e2e/runner/README.md
  e2e/runner/tests/test_warmup_command.py
  e2e/runner/warmup.py
  runtime/java/README.md
  tools/ci/check_java_proxy_contract.sh
Due: ruff-check, ruff-format, ty-check

CI: quality-gates追加とlint設定不整合修正
  .github/workflows/quality-gates.yml
  docs/README.md
  pyproject.toml
  services/gateway/tests/stress/test_pool_concurrency.py
  tools/e2e_proxy/run_with_tinyproxy.py
Due: ruff-check, ruff-format, ty-check

CI: golangci-lint actionをgoinstallモードに変更
  .github/workflows/quality-gates.yml
Due: none

CI: CycloneDX SBOM自動生成と運用基盤を追加
  .github/workflows/sbom-cyclonedx.yml
  docs/README.md
  docs/sbom-cyclonedx.md
  renovate.json
  tools/ci/generate_cyclonedx_sbom.py
  tools/ci/sbom-tool-versions.env
Due: ruff-check, ruff-format, ty-check

CLI: docs再編とGo CLI起動経路の整理
  AGENTS.md
  cli/docs/architecture-review-cli.md
  cli/docs/architecture.md
  cli/docs/build.md
  cli/docs/container-management.md
  cli/docs/generator-architecture.md
  cli/docs/sam-parsing-architecture.md
  cli/go_cli.py
  cli/internal/infra/templategen/stage_java_runtime.go
  docs/README.md
  docs/container-runtime-operations.md
  docs/docker-image-architecture.md
  docs/local-logging-adapter.md
  docs/trace-propagation.md
  e2e/runner/warmup.py
  pyproject.toml
  services/gateway/docs/resilience.md
Due: ruff-check, ruff-format, ty-check

Docs: システム/サービス別ドキュメントを最新実装へ統合更新
  docs/README.md
  docs/architecture-containerd.md
  docs/branding-generator.md
  docs/container-runtime-operations.md
  docs/downstream-branding-flow.md
  docs/java-maven-proxy-contract.md
  docs/local-logging-adapter.md
  docs/spec.md
  docs/trace-propagation.md
  services/agent/docs/README.md
  services/agent/docs/architecture.md
  services/agent/docs/configuration.md
  services/agent/docs/proto-generation.md
  services/agent/docs/runtime-containerd.md
  services/agent/docs/runtime-docker.md
  services/gateway/docs/README.md
  services/gateway/docs/architecture.md
  services/gateway/docs/autoscaling.md
  services/gateway/docs/client-auth-spec.md
  services/gateway/docs/configuration.md
  services/gateway/docs/container-cache.md
  services/gateway/docs/network-optimization.md
  services/gateway/docs/resilience.md
  services/gateway/docs/restart-resilience.md
  services/gateway/docs/security.md
  services/provisioner/docs/README.md
  services/runtime-node/docs/README.md
  services/runtime-node/docs/configuration.md
  services/runtime-node/docs/firecracker-roadmap.md
  services/runtime-node/docs/firecracker.md
  services/runtime-node/docs/networking.md
  services/runtime-node/docs/startup.md
Due: none

Gateway Docs: requestフローとautoscaling記述を実装準拠化
  services/gateway/docs/architecture.md
  services/gateway/docs/autoscaling.md
Due: none

CLI: deploy外部テンプレート回帰と初回config警告を修正
  cli/internal/command/deploy_inputs_resolve.go
  cli/internal/command/deploy_inputs_resolve_test.go
  cli/internal/usecase/deploy/config_diff.go
  cli/internal/usecase/deploy/config_diff_test.go
Due: none

Phase2: ESB互換fallback削除と中立キー一本化
  Makefile
  cli/internal/command/deploy_defaults_test.go
  cli/internal/infra/build/go_builder_registry_wait_test.go
  cli/internal/infra/build/go_builder_test.go
  cli/internal/infra/envutil/envutil.go
  cli/internal/infra/envutil/envutil_test.go
  cli/internal/usecase/deploy/deploy_test.go
  cli/internal/usecase/deploy/gateway_runtime_test.go
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc-node.yml
  docker-compose.fc.yml
  docs/branding-generator.md
  e2e/runner/constants.py
  e2e/runner/context.py
  e2e/runner/env.py
  e2e/runner/tests/test_context.py
  e2e/runner/tests/test_utils_cli_bin.py
  e2e/runner/utils.py
  services/agent/internal/runtime/image_naming.go
  services/agent/internal/runtime/image_naming_test.go
  tools/buildkit/setup_buildx.py
  tools/dind-bundler/README.md
  tools/dind-bundler/build.sh
  tools/e2e_proxy/README.md
  tools/e2e_proxy/run_with_tinyproxy.py
Due: ruff-check, ruff-format, ty-check, go-fmt, go-lint

E2E: async chainログ待機のフレークを修正
  e2e/scenarios/standard/test_lambda.py
Due: ruff-check, ruff-format, ty-check

E2E: VictoriaLogs待機を共通化してフレークを抑制
  docs/branding-generator.md
  e2e/conftest.py
  e2e/scenarios/runtime/java/test_observability.py
  e2e/scenarios/standard/test_lambda.py
Due: ruff-check, ruff-format, ty-check

Phase2差分是正: 残存ESBキーと在庫ドキュメントを更新
  config/wireguard/README.md
  docs/esb-usage-dependency-inventory.md
  e2e/environments/e2e-containerd/.env
  e2e/environments/e2e-docker/.env
  e2e/environments/e2e-firecracker/.env
  runtime/java/extensions/agent/src/main/java/com/runtime/agent/aws/CloudWatchLogsRequestGuard.java
  services/agent/docs/runtime-containerd.md
  services/agent/docs/runtime-docker.md
Due: none

Docs: 現状ベースの最新計画へ更新
  docs/esb-usage-dependency-inventory.md
Due: none

Tests/Docs: ESB補助キー削減と計画更新
  cli/internal/infra/templategen/generate_test.go
  docs/esb-usage-dependency-inventory.md
Due: none

Docs: P0完了反映とbaseline/運用分離を更新
  docs/branding-generator.md
  docs/esb-usage-dependency-inventory.md
Due: none

Docs: P1着手として文書分離とPR本文ドラフトを追加
  docs/branding-generator.md
  docs/branding-phase2-pr-body.md
  docs/esb-usage-dependency-inventory.md
Due: none

Docs: P1完了状態とPR最終アクションを反映
  docs/esb-usage-dependency-inventory.md
Due: none

E2E: VictoriaLogs待機を共通化してフレークを抑制
  e2e/conftest.py
  e2e/scenarios/runtime/java/test_observability.py
  e2e/scenarios/standard/test_lambda.py
Due: ruff-check, ruff-format, ty-check

CI: SBOM生成のuv互換修正とスクリプト分割
  docs/sbom-cyclonedx.md
  tools/ci/generate_cyclonedx_sbom.py
  tools/ci/sbom_support.py
  tools/tests/test_sbom_support.py
Due: ruff-check, ruff-format, ty-check

CI: SBOM用uvを固定しCycloneDX対応を事前検証
  .github/workflows/sbom-cyclonedx.yml
  docs/sbom-cyclonedx.md
  renovate.json
  tools/ci/sbom-tool-versions.env
  tools/ci/sbom_support.py
  tools/tests/test_sbom_support.py
Due: ruff-check, ruff-format, ty-check

E2E: docker再起動シナリオ追加と対応表整備
  docker-compose.docker.yml
  e2e/docs/scenarios.md
  e2e/environments/test_matrix.yaml
  e2e/scenarios/restart/test_restart.py
Due: ruff-check, ruff-format, ty-check

ExecPlans: AGENTS.mdのガイドラインを削除し、PLANS.mdを新規作成
  .agent/PLANS.md
  AGENTS.md
Due: none

Fix Python log dedupe, runtime-config targeting, and E2E deploy CLI ordering
  cli/internal/domain/template/testdata/renderer/dockerfile_simple.golden
  cli/internal/usecase/deploy/runtime_config.go
  cli/internal/usecase/deploy/runtime_config_test.go
  e2e/docs/scenarios.md
  e2e/runner/deploy.py
  e2e/runner/tests/test_deploy_command.py
  e2e/scenarios/runtime/python/test_observability.py
  runtime/python/docker/Dockerfile
  runtime/python/extensions/sitecustomize/site-packages/sitecustomize.py
  runtime/python/templates/dockerfile.tmpl
Due: ruff-check, ruff-format, ty-check

Fix ty unresolved-attribute for boto3 original client cache
  runtime/python/extensions/sitecustomize/site-packages/sitecustomize.py
Due: ruff-check, ruff-format, ty-check

feat: harden image-uri lambda e2e flow
  cli/internal/domain/template/renderer_test.go
  cli/internal/domain/template/testdata/renderer/dockerfile_simple.golden
  e2e/docs/scenarios.md
  e2e/environments/test_matrix.yaml
  e2e/runner/cleanup.py
  e2e/runner/context.py
  e2e/runner/deploy.py
  e2e/runner/infra.py
  e2e/runner/tests/test_cleanup.py
  e2e/runner/tests/test_context.py
  e2e/runner/tests/test_deploy_command.py
  e2e/runner/tests/test_infra_registry_wait.py
  e2e/runner/tests/test_warmup_command.py
  e2e/runner/warmup.py
  e2e/scenarios/standard/test_image_function.py
  runtime/python/docker/Dockerfile
  runtime/python/templates/dockerfile.tmpl
  tools/e2e-minimal-lambda/README.md
  tools/e2e-minimal-lambda/lambda_function.py
Due: ruff-check, ruff-format, ty-check

Refine image-function E2E fixtures and logger naming
  e2e/conftest.py
  e2e/docs/scenarios.md
  e2e/environments/test_matrix.yaml
  e2e/fixtures/template.image.yaml
  e2e/runner/deploy.py
  e2e/runner/tests/test_deploy_command.py
  e2e/runner/tests/test_warmup_command.py
  e2e/runner/warmup.py
  e2e/scenarios/runtime/java/test_observability.py
  e2e/scenarios/runtime/python/test_observability.py
  e2e/scenarios/standard/test_image_function.py
  runtime/java/extensions/agent/src/main/java/com/runtime/agent/aws/CloudWatchLogsMock.java
  runtime/python/extensions/sitecustomize/site-packages/sitecustomize.py
  tools/e2e-lambda-fixtures/java/.gitignore
  tools/e2e-lambda-fixtures/java/Dockerfile
  tools/e2e-lambda-fixtures/java/README.md
  tools/e2e-lambda-fixtures/java/pom.xml
  tools/e2e-lambda-fixtures/java/src/main/java/com/fixtures/imageminimal/Handler.java
  tools/e2e-lambda-fixtures/python/Dockerfile
  tools/e2e-lambda-fixtures/python/README.md
  tools/e2e-lambda-fixtures/python/lambda_function.py
Due: ruff-check, ruff-format, ty-check

Remove manual image-import helper script
  cli/docs/container-management.md
  docs/container-runtime-operations.md
  tools/image-import/import_images.py
Due: ruff-check, ruff-format, ty-check

Fix gateway handling of base64-encoded lambda responses
  services/gateway/core/utils.py
  services/gateway/tests/test_utils.py
Due: ruff-check, ruff-format, ty-check

fix(gateway): treat isBase64Encoded as strict boolean
  services/gateway/core/utils.py
  services/gateway/tests/test_utils.py
Due: ruff-check, ruff-format, ty-check

Set UV_NATIVE_TLS in uv-based Dockerfiles
  services/gateway/Dockerfile.containerd
  services/gateway/Dockerfile.docker
  services/provisioner/Dockerfile
Due: none

feat(gateway): normalize invoke FunctionName at API boundary
  services/gateway/core/function_name.py
  services/gateway/docs/architecture.md
  services/gateway/routes.py
  services/gateway/tests/test_function_name.py
  services/gateway/tests/test_invoke_route.py
Due: ruff-check, ruff-format, ty-check

fix(e2e): honor env-file in compose lifecycle
  e2e/runner/config.py
  e2e/runner/env.py
  e2e/runner/lifecycle.py
  e2e/runner/runner.py
  e2e/runner/tests/test_config.py
  e2e/runner/tests/test_lifecycle_compose_env_file.py
Due: ruff-check, ruff-format, ty-check

ci: disable branding-dispatch for develop-targeted PRs
  .github/workflows/branding-dispatch.yml
Due: none

fix(agent): keep containerd CNI bridge fixed at esb0
  docs/runtime-identity-contract.md
  services/agent/docs/runtime-containerd.md
  services/agent/internal/identity/stack_identity.go
  services/agent/internal/identity/stack_identity_test.go
Due: go-fmt, go-lint
