Repository poruru-code/esb: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, ty-check, go-fmt, tools-go-fmt, go-lint, tools-go-lint

lefthook.yml:

# lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # --- Python Lint & Format ---
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true

    # --- Ty Type Check ---
    ty-check:
      glob: "*.py"
      run: uv run ty check tools/ services/gateway/

    # --- Go Formatting ---
    go-fmt:
      root: services/agent
      glob: "**/*.go"
      run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

    # --- Go Formatting (tools-go) ---
    tools-go-fmt:
      root: tools-go
      glob: "**/*.go"
      run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

    # --- Go Linting ---
    go-lint:
      root: services/agent
      glob: "**/*.go"
      run: golangci-lint run ./...

    # --- Go Linting (tools-go) ---
    tools-go-lint:
      root: tools-go
      glob: "**/*.go"
      run: golangci-lint run ./...

Generator: parser分割で責務整理 / Generator: split parser responsibilities
  cli/internal/generator/parser.go
  cli/internal/generator/parser_defaults.go
  cli/internal/generator/parser_functions.go
  cli/internal/generator/parser_resources.go
Due: none

fix: resolve path updates, cert generation, and gateway wait error reporting
  .mise.toml
  CONTRIBUTING.md
  cli/internal/app/auth.go
  cli/internal/app/wait.go
Due: none

fix(cli): support ESB_CERT_DIR and fix missing import in auth.go
  cli/internal/app/auth.go
Due: none

fix(cli): port legacy Root CA and signed cert generation logic
  cli/internal/app/auth.go
Due: none

fix(cli): port legacy Root CA and signed cert generation logic from python
  cli/internal/app/auth.go
Due: none

fix: update auth logic and e2e test runner
  cli/internal/app/auth.go
  e2e/run_tests.py
Due: ruff-check, ruff-format, ty-check

feat(cert): migrate certificate generation to mise and mkcert
  .agent/plans/migrate-cert-gen-to-mise.md
  .mise.toml
  CONTRIBUTING.md
  README.md
  cli/internal/app/auth.go
  docker-compose.worker.yml
  pyproject.toml
  tools/cert-gen/config.toml
  tools/cert-gen/generate.py
  uv.lock
Due: ruff-check, ruff-format, ty-check

feat: add S3 bucket lifecycle configuration support
  .agent/plans/s3-lifecycle-support.md
  cli/go.mod
  cli/internal/generator/parser.go
  cli/internal/generator/parser_resources.go
  cli/internal/provisioner/aws_clients.go
  cli/internal/provisioner/provisioner_s3_lifecycle_test.go
  cli/internal/provisioner/provisioner_test.go
  cli/internal/provisioner/s3.go
  e2e/fixtures/template.yaml
  e2e/run_tests.py
  e2e/scenarios/autoscaling/test_e2e_autoscaling.py
  e2e/scenarios/autoscaling/test_scale_out.py
  e2e/scenarios/autoscaling/test_scale_to_zero.py
  e2e/scenarios/smoke/test_connectivity.py
  e2e/scenarios/standard/test_metrics_api.py
  e2e/scenarios/standard/test_reconciliation.py
  e2e/scenarios/standard/test_s3.py
  services/agent/internal/api/server.go
  services/agent/internal/runtime/containerd/common_test.go
  services/agent/pkg/api/v1/agent.pb.go
  services/agent/pkg/api/v1/agent_grpc.pb.go
  services/agent/pkg/api/v1/proto/agent.pb.go
  services/agent/pkg/api/v1/proto/agent_grpc.pb.go
  services/common/tests/test_autoscaling_models.py
  services/gateway/core/wg_routes.py
  services/gateway/models/target_function.py
  services/gateway/pb/agent_pb2.py
  services/gateway/pb/agent_pb2_grpc.py
  services/gateway/tests/test_config_defaults.py
  services/gateway/tests/test_container_pool.py
  services/gateway/tests/test_grpc_provision.py
  services/gateway/tests/test_wg_routes.py
Due: ruff-check, ruff-format, ty-check, go-fmt, go-lint

fix(e2e): extract S3 credentials from container and update test fallbacks
  e2e/run_tests.py
  e2e/scenarios/standard/test_s3.py
Due: ruff-check, ruff-format, ty-check

docs: document S3 Lifecycle Configuration support
  README.md
  docs/environment-variables.md
  docs/spec.md
Due: none

refactor: standardize S3 port naming and enhance CLI/E2E logging aesthetics
  cli/internal/app/auth.go
  cli/internal/app/env_defaults.go
  cli/internal/app/ports.go
  cli/internal/compose/build.go
  cli/internal/compose/logs_test.go
  cli/internal/compose/ports.go
  cli/internal/compose/up.go
  cli/internal/compose/up_test.go
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_helpers.go
  cli/internal/generator/go_builder_test.go
  cli/internal/provisioner/provisioner.go
  cli/internal/provisioner/provisioner_test.go
  docker-compose.yml
  e2e/environments/.env.containerd
  e2e/environments/.env.docker
  e2e/environments/.env.firecracker
  e2e/run_tests.py
  e2e/scenarios/standard/test_s3.py
Due: ruff-check, ruff-format, ty-check

docs: reflect S3 port renaming and CLI/log aesthetic improvements
  cli/docs/build.md
  cli/docs/env.md
  cli/docs/up.md
Due: none

refactor: standardize S3 ports, unify log output, and use RustFS terminology
  .agent/plans/s3-lifecycle-support.md
  cli/internal/app/auth.go
  cli/internal/app/env_defaults.go
  cli/internal/app/ports.go
  cli/internal/compose/ports.go
  cli/internal/constants/env.go
  cli/internal/provisioner/provisioner.go
  cli/internal/ui/console.go
  e2e/fixtures/functions/s3/lambda_function.py
  e2e/helpers/__init__.py
  e2e/helpers/aws_utils.py
  e2e/scenarios/smoke/test_connectivity.py
  e2e/scenarios/standard/test_s3.py
Due: ruff-check, ruff-format, ty-check

chore: consistent S3 client comments
  e2e/scenarios/standard/test_s3.py
Due: ruff-check, ruff-format, ty-check

feat: implement structured CLI output logging
  cli/internal/app/auth.go
  cli/internal/app/ports.go
  cli/internal/ui/console.go
Due: none

fix: preserve blank lines in E2E runner output
  e2e/run_tests.py
Due: ruff-check, ruff-format, ty-check

chore(e2e): polish CLI runner output (colors, spacing)
  e2e/run_tests.py
Due: ruff-check, ruff-format, ty-check

chore(cli): align port output and refactor e2e runner
  cli/internal/app/info.go
  cli/internal/app/ports.go
  cli/internal/ui/console.go
  e2e/run_tests.py
  e2e/runner/__init__.py
  e2e/runner/aws_utils.py
  e2e/runner/cli.py
  e2e/runner/config.py
  e2e/runner/env.py
  e2e/runner/executor.py
  e2e/runner/utils.py
  e2e/scenarios/smoke/test_connectivity.py
  e2e/scenarios/standard/test_s3.py
Due: ruff-check, ruff-format, ty-check

chore(cli): align port output and refactor e2e runner
  e2e/helpers/__init__.py
  e2e/helpers/aws_utils.py
  e2e/run_tests.py
  e2e/runner/env.py
Due: ruff-check, ruff-format, ty-check

Refactor SAM parser with recursive intrinsic resolution and extended function support
  cli/internal/generator/intrinsics_test.go
  cli/internal/generator/parser.go
  cli/internal/generator/parser_decode.go
  cli/internal/generator/parser_defaults.go
  cli/internal/generator/parser_functions.go
  cli/internal/generator/parser_helpers.go
  cli/internal/generator/parser_resources.go
  cli/internal/generator/parser_test.go
  cli/internal/provisioner/aws_clients.go
  cli/internal/provisioner/dynamodb.go
  cli/internal/provisioner/helpers.go
Due: none

docs: Add SAM parsing and schema-driven architecture documentation
  cli/docs/sam-parsing-architecture.md
Due: none

feat(cli/generator): enhance SAM parser with idempotent condition resolution and centralized defaults
  cli/docs/sam-parsing-architecture.md
  cli/go.mod
  cli/go.sum
  cli/internal/generator/intrinsics_test.go
  cli/internal/generator/parser.go
  cli/internal/generator/parser_decode.go
  cli/internal/generator/parser_defaults.go
  cli/internal/generator/parser_functions.go
  cli/internal/generator/parser_helpers.go
  cli/internal/generator/parser_resources.go
  cli/internal/generator/schema/sam_generated.go
  tools/schema-gen/generate.py
  tools/schema-gen/sam.schema.merged.temp.json
Due: ruff-check, ruff-format, ty-check

refactor(cli/generator): migrate mapToStruct to mitchellh/mapstructure
  cli/go.mod
  cli/go.sum
  cli/internal/generator/parser_helpers.go
Due: none

docs: update SAM parsing architecture with mapstructure and centralized defaults
  cli/docs/sam-parsing-architecture.md
Due: none

test(cli/generator): improve SAM parser coverage and robustness
  cli/internal/generator/parser_decode_test.go
  cli/internal/generator/parser_helpers_test.go
Due: none

feat(agent): implement CA certificate trust and fix build context isolation
  cli/internal/generator/assets/Dockerfile.lambda-base
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_helpers.go
  cli/internal/generator/go_builder_test.go
  docker-compose.containerd.yml
  docker-compose.fc.yml
  docker-compose.registry.yml
  docker-compose.worker.yml
  docker-compose.yml
  services/agent/Dockerfile
  services/agent/entrypoint.sh
  services/common/Dockerfile.service-base
  services/common/ensure_ca_trust.sh
  services/gateway/entrypoint.sh
  services/runtime-node/Dockerfile
  tools/cert-gen/generate.py
Due: ruff-check, ruff-format, ty-check

refactor(arch): standardize CA trust via shared base image (Step 1)
  services/agent/Dockerfile
  services/common/ensure_ca_trust.sh
Due: none

refactor(arch): restore build context isolation for agent service (Step 2)
  docker-compose.worker.yml
  services/agent/Dockerfile
Due: none

refactor(arch): complete incremental improvements (Step 3)
  docker-compose.worker.yml
  services/common/ensure_ca_trust.sh
Due: none

refactor(arch): implement system-wide fail-fast CA trust (Step 1.5)
  docker-compose.containerd.yml
  docker-compose.yml
  services/gateway/Dockerfile
  services/runtime-node/entrypoint.common.sh
Due: none

refactor(arch): complete OS & Python runtime unification (Step 4)
  services/common/Dockerfile.service-base
  services/gateway/Dockerfile
Due: none

refactor(arch): final polish of standardized Docker architecture (Step 4.1)
  services/gateway/Dockerfile
Due: none

docs: add technical documentation for Docker architectural design
  docs/docker-architecture.md
Due: none

docs: finalize docker architecture documentation with architect feedback
  docs/docker-architecture.md
Due: none

fix(test): resolve go unit test failures in generator
  cli/internal/generator/go_builder_test.go
Due: none

fix: implement proxy handling in Go CLI and consolidate VictoriaLogs environment variables
  cli/internal/app/env_defaults.go
  cli/internal/app/env_defaults_test.go
  cli/internal/app/ports.go
  cli/internal/app/ports_test.go
  cli/internal/constants/env.go
  e2e/conftest.py
  e2e/runner/env.py
  e2e/runner/executor.py
Due: ruff-check, ruff-format, ty-check

Generator: ステージング分離
  cli/internal/app/env_defaults.go
  cli/internal/generator/build_env.go
  cli/internal/generator/go_builder.go
  cli/internal/generator/go_builder_helpers.go
  cli/internal/generator/go_builder_test.go
  cli/internal/staging/staging.go
Due: none

fix(test): resolve Unit Test failure in Up command path logic
  cli/internal/app/up_test.go
Due: none

Provisioner: add AWS op trace / プロビジョナー: AWS操作のトレース追加
  .mise.toml
  Dockerfile
  cli/internal/generator/assets/Dockerfile.lambda-base
  cli/internal/generator/build_env.go
  cli/internal/generator/go_builder_helpers.go
  cli/internal/provisioner/aws_clients.go
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docker-compose.fc.yml
  docker-compose.worker.yml
  docker-compose.yml
  docs/docker-architecture.md
  docs/firecracker-roadmap.md
  docs/network-routing.md
  docs/spec.md
  services/agent/Dockerfile
  services/agent/Dockerfile.dev
  services/agent/entrypoint.sh
  services/common/Dockerfile.service-base
  services/common/ensure_ca_trust.sh
  services/gateway/Dockerfile
  services/gateway/entrypoint.sh
  services/runtime-node/Dockerfile
  services/runtime-node/entrypoint.common.sh
  services/runtime-node/entrypoint.containerd.sh
  services/runtime-node/entrypoint.firecracker.sh
Due: none
