Repository poruru-code/esb: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, ty-check, go-fmt, cli-fmt, go-lint, cli-lint

lefthook.yml:

# lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # --- Python Lint & Format ---
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true

    # --- Ty Type Check ---
    ty-check:
      glob: "*.py"
      run: uv run ty check tools/ services/gateway/

    # --- Go Formatting ---
    go-fmt:
      root: services/agent
      glob: "**/*.go"
      run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

    # --- Go Formatting (cli) ---
    cli-fmt:
      root: cli
      glob: "**/*.go"
      run: goimports -w {staged_files} && gofumpt -w {staged_files} && git add {staged_files}

    # --- Go Linting ---
    go-lint:
      root: services/agent
      glob: "**/*.go"
      run: golangci-lint run ./...

    # --- Go Linting (cli) ---
    cli-lint:
      root: cli
      glob: "**/*.go"
      run: GOWORK=$(pwd)/../go.work.cli golangci-lint run ./...

ci: update artifactcore export allowlist for source template validators
  tools/ci/artifactcore_exports_allowlist.txt
Due: none

artifactcore: keep source_template.path omitted on round trip
  pkg/artifactcore/manifest.go
  pkg/artifactcore/manifest_test.go
Due: none

e2e: keep artifact manifest output raw in fixture regeneration
  e2e/artifacts/README.md
  e2e/scripts/regenerate_artifacts.sh
Due: none

e2e: regenerate artifact fixtures
  e2e/artifacts/e2e-containerd/artifact.yml
  e2e/artifacts/e2e-docker/artifact.yml
Due: none

e2e: align regenerate validator with artifact contract
  e2e/artifacts/README.md
  e2e/scripts/regenerate_artifacts.sh
Due: none

Enable auto provisioning on docker compose up
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docs/artifact-operations.md
  docs/deploy-artifact-contract.md
  docs/spec.md
Due: none

chore(e2e): rename fixture image repos to esb-e2e-image-*
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-image/Dockerfile
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-image/Dockerfile
  e2e/fixtures/images/lambda/java/README.md
  e2e/fixtures/images/lambda/java/pom.xml
  e2e/fixtures/images/lambda/java/src/main/java/com/fixtures/imageminimal/Handler.java
  e2e/fixtures/images/lambda/python/README.md
  e2e/fixtures/images/lambda/python/lambda_function.py
  e2e/fixtures/template.e2e.yaml
  e2e/runner/deploy.py
  e2e/runner/tests/test_deploy_command.py
  e2e/scripts/regenerate_artifacts.sh
  tools/dind-bundler/build.sh
Due: ruff-check, ruff-format, ty-check

fix runtime registry fallback order for function image normalization
  pkg/deployops/function_images.go
  pkg/deployops/function_images_test.go
Due: none

fix deploy image normalization gating and dockerfile alias rewrite
  .agent/execplan-artifact-manifest-slimming.md
  .agent/execplan-artifact-registry-normalization.md
  docs/artifact-operations.md
  docs/deploy-artifact-contract.md
  pkg/deployops/execute.go
  pkg/deployops/execute_test.go
  pkg/deployops/function_images.go
  pkg/deployops/prepare_images.go
  pkg/deployops/prepare_images_test.go
Due: none

fix(deployops): normalize runtime registry handling for artifact deploy
  .agent/execplan-artifact-manifest-slimming.md
  docs/artifact-operations.md
  docs/deploy-artifact-contract.md
  e2e/artifacts/e2e-containerd/template.e2e/e2e-containerd/functions/lambda-image/Dockerfile
  e2e/artifacts/e2e-docker/template.e2e/e2e-docker/functions/lambda-image/Dockerfile
  e2e/fixtures/images/lambda/java/README.md
  e2e/fixtures/images/lambda/java/pom.xml
  e2e/fixtures/images/lambda/java/src/main/java/com/fixtures/imageminimal/Handler.java
  e2e/fixtures/images/lambda/python/README.md
  e2e/fixtures/images/lambda/python/lambda_function.py
  e2e/fixtures/template.e2e.yaml
  e2e/runner/deploy.py
  e2e/runner/tests/test_deploy_command.py
  e2e/scripts/regenerate_artifacts.sh
  pkg/deployops/execute.go
  pkg/deployops/execute_test.go
  pkg/deployops/function_images.go
  pkg/deployops/function_images_test.go
  pkg/deployops/lambda_base.go
  pkg/deployops/prepare_images.go
  pkg/deployops/prepare_images_test.go
  tools/dind-bundler/build.sh
Due: ruff-check, ruff-format, ty-check

fix(deployops): prefer runtime registry fallback over host
  pkg/deployops/function_images.go
  pkg/deployops/function_images_test.go
Due: none

chore(go): include pkg modules in workspace use list
  go.work
Due: none

chore(vscode): set GOWORK to auto for multi-module workspace
  .vscode/settings.json
  .vscode/settings.json.recommended
Due: none

fix(deployops): pass proxy env to buildx builds
  pkg/deployops/prepare_images.go
  pkg/deployops/prepare_images_test.go
Due: none

fix(e2e): force java fixture maven proxy settings
  e2e/fixtures/images/lambda/java/Dockerfile
  e2e/fixtures/images/lambda/java/README.md
  e2e/fixtures/images/lambda/java/build_maven.sh
Due: none

fix(e2e): pass proxy build args to local fixture image builds
  e2e/runner/deploy.py
  e2e/runner/tests/test_deploy_command.py
Due: ruff-check, ruff-format, ty-check

fix(deployops): inject maven settings for proxy-only docker builds
  pkg/deployops/prepare_images.go
  pkg/deployops/prepare_images_test.go
Due: none

fix(e2e): inject maven settings for java fixture build
  e2e/fixtures/images/lambda/java/Dockerfile
  e2e/fixtures/images/lambda/java/README.md
  e2e/fixtures/images/lambda/java/build_maven.sh
  e2e/runner/deploy.py
  e2e/runner/tests/test_deploy_command.py
Due: ruff-check, ruff-format, ty-check

Harden Maven proxy routing across build paths
  .agent/execplan-maven-proxy-hardening.md
  .agent/execplan-maven-shim-system-ownership.md
  .github/workflows/quality-gates.yml
  docs/maven-proxy-contract-v2.md
  e2e/fixtures/images/lambda/java/Dockerfile
  e2e/fixtures/images/lambda/java/README.md
  e2e/runner/deploy.py
  e2e/runner/logging.py
  e2e/runner/tests/test_deploy_command.py
  e2e/runner/tests/test_logging_redaction.py
  go.work
  go.work.sum
  pkg/deployops/go.mod
  pkg/deployops/prepare_images.go
  pkg/deployops/prepare_images_test.go
  pkg/proxy/go.mod
  pkg/proxy/maven/proxy.go
  pkg/proxy/maven/proxy_test.go
  tools/ci/check_maven_proxy_contract.sh
  tools/maven-shim/Dockerfile
  tools/maven-shim/mvn-wrapper.sh
Due: ruff-check, ruff-format, ty-check

refactor(deployops): split prepare_images responsibilities and tests
  .agent/execplan-prepare-images-responsibility-split.md
  pkg/deployops/prepare_images.go
  pkg/deployops/prepare_images_base_test.go
  pkg/deployops/prepare_images_cmd.go
  pkg/deployops/prepare_images_cmd_test.go
  pkg/deployops/prepare_images_core_test.go
  pkg/deployops/prepare_images_dockerfile.go
  pkg/deployops/prepare_images_dockerfile_test.go
  pkg/deployops/prepare_images_fs.go
  pkg/deployops/prepare_images_maven.go
  pkg/deployops/prepare_images_maven_test.go
  pkg/deployops/prepare_images_test.go
  pkg/deployops/prepare_images_test_helpers_test.go
Due: none

fix(deployops): restore maven shim core ownership path
  .agent/execplan-maven-proxy-hardening.md
  .agent/execplan-maven-shim-system-ownership.md
  .agent/execplan-prepare-images-responsibility-split.md
  docs/maven-proxy-contract-v2.md
  e2e/fixtures/images/lambda/java/README.md
  e2e/run_tests.py
  e2e/runner/deploy.py
  e2e/runner/tests/test_deploy_command.py
  e2e/runner/tests/test_run_tests_cli_requirement.py
  pkg/deployops/mavenshim/assets/Dockerfile
  pkg/deployops/mavenshim/assets/mvn-wrapper.sh
  pkg/deployops/mavenshim/ensure.go
  pkg/deployops/mavenshim/ensure_test.go
  pkg/deployops/prepare_images_maven.go
  tools/artifactctl/cmd/artifactctl/main.go
  tools/artifactctl/cmd/artifactctl/main_test.go
  tools/ci/check_maven_proxy_contract.sh
Due: ruff-check, ruff-format, ty-check

fix(mavenshim): accept uppercase proxy schemes in wrapper
  pkg/deployops/mavenshim/assets/mvn-wrapper.sh
  pkg/deployops/mavenshim/ensure_test.go
Due: none

fix(mavenshim): avoid stale shim reuse with asset-aware tags
  pkg/deployops/mavenshim/ensure.go
  pkg/deployops/mavenshim/ensure_test.go
  pkg/deployops/prepare_images_maven_test.go
Due: none

fix(e2e): enforce maven proxy path and add failure log collector
  e2e/runner/deploy.py
  e2e/runner/tests/test_deploy_command.py
  tools/e2e_proxy/collect_failure_logs.sh
Due: ruff-check, ruff-format, ty-check

fix(mavenshim): hook wrapper at effective mvn path
  pkg/deployops/mavenshim/assets/Dockerfile
  pkg/deployops/mavenshim/assets/mvn-wrapper.sh
  pkg/deployops/mavenshim/ensure_test.go
Due: none

Unify fixture image preparation and harden proxy preflight
  e2e/run_tests.py
  e2e/runner/deploy.py
  e2e/runner/tests/test_deploy_command.py
  e2e/runner/tests/test_run_tests_cli_requirement.py
  pkg/deployops/mavenshim/ensure.go
  pkg/deployops/prepare_images_cmd.go
  pkg/proxy/buildargs/buildargs.go
  pkg/proxy/buildargs/buildargs_test.go
  tools/artifactctl/cmd/artifactctl/fixture_image.go
  tools/artifactctl/cmd/artifactctl/fixture_image_test.go
  tools/artifactctl/cmd/artifactctl/main.go
  tools/artifactctl/cmd/artifactctl/main_test.go
Due: ruff-check, ruff-format, ty-check

chore(setup): enable native tls for mise uv sync
  .mise.toml
Due: none

refactor: remove deprecated artifact manifest/runtime paths
  docs/artifact-operations.md
  docs/deploy-artifact-contract.md
  e2e/runner/deploy.py
  pkg/artifactcore/api_version_validation.go
  pkg/artifactcore/apply.go
  pkg/artifactcore/apply_request_test.go
  pkg/artifactcore/errors.go
  pkg/artifactcore/errors_test.go
  pkg/artifactcore/execute.go
  pkg/artifactcore/execute_test.go
  pkg/artifactcore/fixture_manifest_test.go
  pkg/artifactcore/manifest.go
  pkg/artifactcore/manifest_test.go
  pkg/artifactcore/merge_test.go
  pkg/artifactcore/runtime_compat_validation.go
  pkg/artifactcore/runtime_compat_validation_test.go
  pkg/deployops/execute.go
  pkg/deployops/execute_test.go
  pkg/deployops/lambda_base.go
  pkg/deployops/prepare_images.go
  pkg/deployops/prepare_images_dockerfile.go
  pkg/deployops/prepare_images_dockerfile_test.go
  pkg/deployops/runtime_observation.go
  pkg/deployops/runtime_probe.go
  pkg/deployops/runtime_probe_test.go
  tools/artifactctl/cmd/artifactctl/main.go
  tools/artifactctl/cmd/artifactctl/main_test.go
  tools/ci/artifactcore_exports_allowlist.txt
Due: ruff-check, ruff-format, ty-check

fix(deployops): continue fallback when gateway mount is missing
  pkg/deployops/runtime_config_target.go
  pkg/deployops/runtime_config_target_test.go
Due: none

build(proxy): inject build-time CA secret for uv sync
  .env.example
  docker-compose.containerd.yml
  docker-compose.docker.yml
  docs/certificate-operations.md
  services/gateway/Dockerfile.containerd
  services/gateway/Dockerfile.docker
  services/provisioner/Dockerfile
Due: none

fix(gateway): enhance CA certificate handling and update uv sync command
  services/gateway/Dockerfile.containerd
  services/gateway/Dockerfile.docker
  services/provisioner/Dockerfile
Due: none

feat(deployops): prepare zip layer build contexts during deploy
  .agent/2026-02-24-config-dir-removal.md
  pkg/deployops/layer_contexts.go
  pkg/deployops/layer_contexts_test.go
  pkg/deployops/prepare_images.go
  pkg/deployops/prepare_images_cmd.go
  pkg/deployops/prepare_images_cmd_test.go
  pkg/deployops/prepare_images_core_test.go
Due: none

fix(deployops): detect .git file markers in repo-root resolution
  pkg/deployops/layer_contexts.go
  pkg/deployops/layer_contexts_test.go
Due: none

feat(agent): set docker memory limit from lambda memory env
  services/agent/internal/runtime/docker/runtime.go
  services/agent/internal/runtime/docker/runtime_test.go
Due: go-fmt, go-lint

docs(agent): document docker memory limit from lambda env
  services/agent/docs/runtime-docker.md
Due: none
